<ng-container *ngIf="data?.station?.dynamicData">
  <div style="margin-bottom: 4px">
    {{ data?.leadTime }} forecast of
    <span
      title="The amount of water moving down a river at a given time and place"
      style="
        text-decoration: underline;
        text-decoration-style: dotted;
        cursor: default;
      "
      >river discharge</span
    >
    in m<sup>3</sup>/s
    <ng-container *ngIf="data?.station?.dynamicData?.forecastReturnPeriod">
      <br />
      (Corresponding to a return period of
      <strong>{{ data?.station?.dynamicData?.forecastReturnPeriod }}</strong> years)
    </ng-container>
  </div>
  <app-threshold-bar
    [backgroundColor]="barBackgroundColor"
    [textColor]="barTextColor"
    [barWidth]="triggerWidth"
    [barValue]="addComma(barValue)"
    thresholdDescription="Trigger activation threshold"
    [thresholdValue]="data?.station?.dynamicData?.triggerLevel"
    [thresholdPosition]="80"
  ></app-threshold-bar>
</ng-container>
<ng-container *ngIf="!data?.station?.dynamicData">
  <div
    style="margin-bottom: 4px; display: flex; justify-content: space-between"
  >
    <div>
      <ion-label style="font-size: 18px; padding-right: 8px">
        {{ 'map-popups.glofas-station.no-data' | translate }}
      </ion-label>
    </div>
  </div>
</ng-container>
