<ng-container *ngIf="data?.station?.dynamicData">
  <div style="margin-bottom: 4px">
    <strong
      >{{
        'map-popups.glofas-station.river-discharge'
          | translate: { leadTime: getLeadTimeString() }
      }}
      <span
        [title]="
          'map-popups.glofas-station.river-discharge-explanation' | translate
        "
        style="cursor: default"
        ><ion-icon name="information-circle-outline"></ion-icon></span
    ></strong>
    <ng-container *ngIf="data?.station?.dynamicData?.forecastReturnPeriod">
      <br />
      {{
        'map-popups.glofas-station.forecast-return'
          | translate
            : { returnPeriod: data?.station?.dynamicData?.forecastReturnPeriod }
      }}
    </ng-container>
  </div>
  <app-threshold-bar
    [backgroundColor]="barBackgroundColor"
    [textColor]="barTextColor"
    [barWidth]="triggerWidth"
    [barValue]="addComma(barValue)"
    [thresholdDescription]="
      'map-popups.glofas-station.threshold-description' | translate
    "
    [thresholdValue]="data?.station?.dynamicData?.triggerLevel"
    [thresholdPosition]="80"
    unit="m3/s"
  ></app-threshold-bar>
</ng-container>
<ng-container *ngIf="!data?.station?.dynamicData">
  <div
    style="margin-bottom: 4px; display: flex; justify-content: space-between"
  >
    <div>
      <ion-label style="font-size: 18px; padding-right: 8px">
        {{ 'map-popups.glofas-station.no-data' | translate }}
      </ion-label>
    </div>
  </div>
</ng-container>
