<span class="date-text">
  @if (firstLine) {
    <div>
      <span class="first-line">{{ firstLine }}</span>
      <br />
    </div>
  }
  <span class="second-line">{{ secondLine }}</span>
  @if (thirdLine) {
    <div>
      <span class="third-line">{{ thirdLine }}</span>
      <br />
    </div>
  }
</span>
@if (alert) {
  <ion-icon
    class="warning-icon"
    [src]="
      thresholdReached
        ? '/assets/icons/Alert_Title_Purple.svg'
        : '/assets/icons/Alert_Title_Navy.svg'
    "
    slot="end"
  ></ion-icon>
}
