<span class="date-text">
  <div *ngIf="displayDate">
    <span class="date">{{ displayDate }}</span>
    <br />
  </div>
  <span class="month">{{ displayMonth }}</span>
  <div *ngIf="displayHour">
    <span class="hour">{{ displayHour }}</span>
    <br />
  </div>
</span>
<ion-icon
  *ngIf="alert && thresholdReached"
  class="warning-icon"
  src="/assets/icons/Alert_Title_Purple.svg"
  slot="end"
></ion-icon>
<ion-icon
  *ngIf="alert && !thresholdReached"
  class="warning-icon"
  src="/assets/icons/Alert_Title_Navy.svg"
  slot="end"
></ion-icon>
