.component-title {
  background-color: var(--ion-color-ibf-salmon);
  padding: 5px;
  display: flex;
  align-items: center;
  // justify-content: center;
}

ion-thumbnail {
  background-color: black;
  width: 2rem;
  height: 2rem;
  border-width: 0.2rem;
  border-color: black;
  border: solid;
}

.aggregates-col-text {
  background-color: white;
}

.aggregate-icon {
  display: inline-block;
}

.indicator-icon {
  display: block;
  margin: auto;
  width: auto;
}

.aggregate-label {
  display: inline-block;
  vertical-align: top;
  padding: 2px;
}

.aggregates-col-number {
  background-color: #f1d0ca;
  padding: 2px;
}
