<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/" [title]="'app-name' | translate">
        <ion-icon name="apps" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-user-state [isLoggedIn]="false"></app-user-state>
    <ion-buttons slot="end">
      <ion-button
        href="https://github.com/rodekruis/IBF-system/releases/tag/{{
          version
        }}"
        [title]="('common.version' | translate) + ' ' + version"
        rel="noopener noreferrer"
        target="_blank"
      >
        {{ version }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <app-disclaimer-toolbar></app-disclaimer-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-xs="12" size-sm="11" size-md="9" size-lg="7" size-xl="6">
        <span
          *ngFor="let disasterType of allDisasterTypes"
          data-test="disaster-Type"
          class="container"
        >
          <ion-icon
            class="ibf"
            [src]="getIconByCountry(disasterType)"
            slot="start"
            class="disaster-type-icon"
            [title]="disasterType"
          >
          </ion-icon>
        </span>
        <ion-card class="ibf-welcome-card" color="ibf-no-alert-primary">
          <ion-icon
            src="assets/icons/IBF_Impact_Based_Forecast_Logo_32x32.svg"
          ></ion-icon>
          <ion-card-header>
            <ion-card-title [translate]="'login-page.welcome'">
            </ion-card-title>
            <ion-card-subtitle [translate]="'login-page.instruction'">
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <app-ibf-button
              (click)="presentPopover()"
              backgroundColor="ibf-white"
              textColor="ibf-no-alert-primary"
              size="small"
            >
              {{ 'ibf-guide-component.title' | translate }}
            </app-ibf-button>
            <br />
            <span [innerHtml]="'login-page.note' | translate"></span>
          </ion-card-content>
          <app-timestamp class="ion-margin-end"></app-timestamp>
        </ion-card>
        <ion-card class="ibf-login-card">
          <ion-icon
            name="person"
            class="person"
            color="ibf-no-alert-primary"
          ></ion-icon>
          <ion-card-content>
            <app-login-form></app-login-form>
          </ion-card-content>
          <app-timestamp class="ion-margin-end"></app-timestamp>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
