ion-content {
  --background: var(--ion-color-ibf-grey-light);

  ion-grid {
    min-height: 80vh;
    display: flex;
    flex-direction: column;

    ion-row {
      margin: auto 0;
    }
  }
}

.ibf-welcome-card {
  overflow: visible;
  margin-left: 64px;

  ion-card-content {
    ion-card-title {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ion-icon {
    font-size: 48px;
    position: absolute;
    left: -50px;
  }
}

.ibf-login-card {
  overflow: visible;
  margin-right: 64px;

  ion-icon {
    font-size: 48px;
    background: var(--ion-color-ibf-no-alert-primary-contrast);
    border-radius: 50%;
    padding: 6px;
    position: absolute;
    right: -48px;

    &.person {
      font-size: 34px !important;
    }
  }
}

app-timestamp {
  height: 24px;
  display: block;
}

.container {
  text-align: center;
  margin-left: 20px;
}

.disaster-type-icon {
  height: 32px;
  width: 32px;
  margin: 0px 5px 0px 5px;
  padding-right: 10px;
}
