# Countries to include
COUNTRY_CODES = ['EGY']

# API-service access
ADMIN_LOGIN = <fill_in>
ADMIN_PASSWORD = <fill_in>

# Datalake access
DATALAKE_STORAGE_ACCOUNT_NAME = <fill_in>
DATALAKE_STORAGE_ACCOUNT_KEY = <fill_in>
DATALAKE_API_VERSION = <fill_in>

SETTINGS_SECRET = {
    "EGY": {
        "mock": False,
        "notify_email": False
    }
}

