@if (eventState?.thresholdReached && showAreasOfFocusSummary()) {
  <ion-row
    class="component-title"
    color="ibf-secondary"
    data-test="action-title"
  >
    <ion-col size-lg="8" size-md="8" size-xs="8" class="ion-no-padding">
      <ion-item
        class="component-title-item ion-padding-left ion-no-margin ion-align-items-start"
        color="ibf-secondary"
      >
        <ion-col>
          <ion-label class="areas-of-focus--title" color="ibf-black">
            <strong>
              {{ 'areas-of-focus-summary-component.title' | translate }}
            </strong>
          </ion-label>
          <ion-label class="areas-of-focus--subtitle" color="ibf-black">
            <ion-text style="font-size: 12px">
              {{ 'areas-of-focus-summary-component.aof-subtitle' | translate }}
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-item>
    </ion-col>
    <ion-col size-lg="3" size-md="3" size-xs="3" class="ion-no-padding">
      <ion-item
        lines="none"
        class="component-title-item ion-no-margin ion-align-items-end"
        color="ibf-secondary"
      >
        <ion-label class="areas-of-focus--subtitle">
          <ion-text
            style="font-size: 12px"
            color="ibf-black"
            [title]="
              'areas-of-focus-summary-component.tasks-subtitle' | translate
            "
          >
            {{ 'areas-of-focus-summary-component.tasks-subtitle' | translate }}
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size-lg="1" size-md="1" size-xs="1">
      <ion-item
        lines="none"
        class="component-title-item ion-padding-left ion-no-margin ion-align-items-end"
        color="ibf-secondary"
      >
      </ion-item>
    </ion-col>
  </ion-row>
  @for (areaOfFocus of areasOfFocus; track areaOfFocus.id) {
    <ion-row
      class="ion-no-padding"
      style="margin-bottom: 1px"
      data-test="action-summary-types"
    >
      <ng-container>
        <ion-col size-lg="8" size-md="8" size-xs="8">
          <ion-item
            lines="none"
            class="areas-of-focus-item ion-no-padding"
            color="ibf-white"
          >
            <ion-thumbnail slot="start" class="areas-of-focus-item-thumbnail">
              <ion-img src="assets/icons/{{ areaOfFocus.icon }}"></ion-img>
            </ion-thumbnail>
            <ion-label class="areas-of-focus-item-label">
              {{ areaOfFocus.label }}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-lg="3" size-md="3" size-xs="3">
          <ion-item lines="none" class="areas-of-focus-item-value">
            <ion-label color="ibf-black">
              @if (areaOfFocus.count > 0) {
                <span
                  >{{ areaOfFocus.countChecked }} /
                  {{ areaOfFocus.count }}</span
                >
              } @else {
                <span class="actions-not-applicable">
                  {{
                    'areas-of-focus-summary-component.not-applicable'
                      | translate
                  }}</span
                >
              }
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-lg="1" size-md="1" size-xs="1">
          <ion-item
            lines="none"
            class="areas-of-focus-item-information-icon ion-no-padding"
            data-test="icon-row"
            style="--inner-padding-end: 0px"
            color="ibf-white"
          >
            <ion-label>
              <img
                class="info-img"
                src="assets/icons/source-info.svg"
                (click)="moreInfo(areaOfFocus)"
              />
            </ion-label>
          </ion-item>
        </ion-col>
      </ng-container>
    </ion-row>
  }
}
