.component-title {
  .component-title-item {
    --inner-padding-end: 0;
    height: 48px;

    .areas-of-focus--title {
      margin-top: 5px;
    }

    .areas-of-focus--subtitle {
      margin-bottom: 5px;
    }

    .component-title-thumbnail {
      height: 24px;
      width: 24px;
    }
  }
}

.areas-of-focus-item,
.areas-of-focus-item-value {
  --min-height: 2rem;
  height: 2rem;
  --inner-padding-end: 0;
}

.areas-of-focus-item {
  .areas-of-focus-item-thumbnail {
    background: var(--ion-color-ibf-black);
    border: 0.2rem solid var(--ion-color-ibf-black);
    width: 2rem;
    height: 2rem;
    align-self: start;
    margin: 0px !important;

    ion-img {
      object-fit: contain;
    }
  }

  .areas-of-focus-item-label {
    text-transform: capitalize;
    line-height: 1.2;
    padding: 4px 4px;
    font-size: 12px;
    margin: 0px !important;
  }
}

.areas-of-focus-item-value {
  ion-label {
    margin: 0px !important;
  }
  --background: var(--ion-color-ibf-gray-light);

  span {
    font-size: 12px;
  }
}
