@if (showAreasOfFocusSummary()) {
  <ion-row
    class="component-title"
    color="ibf-secondary"
    data-test="action-title"
  >
    <ion-col
      size-xl="6"
      size-lg="5"
      size-md="8"
      size-sm="9"
      size-xs="9"
      class="ion-no-padding"
    >
      <ion-item
        lines="none"
        class="component-title-item ion-padding-left ion-no-margin"
        color="ibf-secondary"
      >
        <ion-label class="m-0">
          <div class="mt-1 font-bold">
            {{ 'areas-of-focus-summary-component.title' | translate }}
          </div>
          <div class="mb-1 text-xs">
            {{ 'areas-of-focus-summary-component.aof-subtitle' | translate }}
          </div>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col
      size-xl="4"
      size-lg="4"
      size-md="4"
      size-sm="2"
      size-xs="2"
      class="ion-no-padding"
    >
      <ion-item
        lines="none"
        class="component-title-item ion-no-margin ion-align-items-end"
        color="ibf-secondary"
      >
        <ion-label class="m-0 text-right">
          <div
            class="mb-1 text-xs"
            [title]="
              'areas-of-focus-summary-component.tasks-subtitle' | translate
            "
          >
            {{ 'areas-of-focus-summary-component.tasks-subtitle' | translate }}
          </div>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size-xl="2" size-lg="3" size-md="0" size-sm="1" size-xs="1">
      <ion-item
        lines="none"
        class="component-title-item ion-padding-left ion-no-margin ion-align-items-end"
        color="ibf-secondary"
      >
      </ion-item>
    </ion-col>
  </ion-row>
  @for (areaOfFocus of areasOfFocus; track areaOfFocus.id) {
    <ion-row
      class="ion-no-padding"
      style="margin-bottom: 1px"
      data-test="action-summary-types"
    >
      <ng-container>
        <ion-col size-xl="6" size-lg="5" size-md="8" size-sm="9" size-xs="9">
          <ion-item
            lines="none"
            class="areas-of-focus-item ion-no-padding"
            color="ibf-white"
          >
            <ion-thumbnail slot="start" class="areas-of-focus-item-thumbnail">
              <ion-img
                class="object-contain"
                src="assets/icons/{{ areaOfFocus.icon }}"
              ></ion-img>
            </ion-thumbnail>
            <ion-label class="areas-of-focus-item-label">
              {{ areaOfFocus.label }}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="2" size-xs="2">
          <ion-item lines="none" class="areas-of-focus-item-value">
            <ion-label class="text-right">
              @if (areaOfFocus.count > 0) {
                <span
                  >{{ areaOfFocus.countChecked }} /
                  {{ areaOfFocus.count }}</span
                >
              } @else {
                <span class="actions-not-applicable">
                  {{
                    'areas-of-focus-summary-component.not-applicable'
                      | translate
                  }}</span
                >
              }
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="2" size-lg="3" size-md="0" size-sm="1" size-xs="1">
          <ion-item
            lines="none"
            class="areas-of-focus-item-information-icon ion-no-padding"
            data-test="icon-row"
            style="--inner-padding-end: 0px"
            color="ibf-white"
          >
            <ion-button
              class="m-auto"
              fill="clear"
              shape="round"
              size="default"
              (click)="moreInfo(areaOfFocus)"
            >
              <ion-icon
                color="fiveten-navy-900"
                icon="information-circle-outline"
                slot="icon-only"
              ></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ng-container>
    </ion-row>
  }
}
