.component-title {
  .component-title-item {
    --inner-padding-end: 0;
    height: 48px;

    .areas-of-focus--title {
      margin-top: 5px;
    }

    .areas-of-focus--subtitle {
      margin-bottom: 5px;
    }

    .component-title-thumbnail {
      height: 24px;
      width: 24px;
    }
  }
}

.areas-of-focus-item,
.areas-of-focus-item-value,
.areas-of-focus-item-information-icon {
  --min-height: 2rem;
  height: 2rem;
}

.areas-of-focus-item {
  --inner-padding-end: 0;

  .areas-of-focus-item-thumbnail {
    background: var(--fiveten-neutral-100);
    border: 0.2rem solid var(--fiveten-neutral-100);
    width: 2rem;
    height: 2rem;
    align-self: start;
    margin: 0px !important;
    padding: 2px;

    ion-img {
      object-fit: contain;
    }
  }

  .areas-of-focus-item-label {
    text-transform: capitalize;
    line-height: 1.2;
    font-size: 12px;
    margin: 0px !important;
    white-space: normal !important;
    padding: 0px 4px !important;
  }
}

.areas-of-focus-item-value {
  --background: var(--fiveten-neutral-100);

  ion-label {
    margin: 0px !important;
    font-size: 12px;
    white-space: normal !important;
  }
}

.areas-of-focus-item-information-icon {
  ion-label {
    margin: 0px auto !important;
    padding-top: 0.2em;
    max-width: 20px;
  }
}

.areas-of-focus-item-information-icon {
  --inner-padding-end: 0.2rem;
  cursor: pointer;
}
