<ng-container *ngIf="eventState?.event?.thresholdReached">
  <ion-row
    class="component-title"
    color="ibf-secondary"
    data-test="action-title"
  >
    <ion-col size-lg="8" size-md="8" size-xs="8" class="ion-no-padding">
      <ion-item
        lines="none"
        class="component-title-item ion-padding-left ion-no-margin ion-align-items-start"
        color="ibf-secondary"
      >
        <ion-col>
          <ion-label class="areas-of-focus--title">
            <strong>
              {{ 'areas-of-focus-summary-component.title' | translate }}
            </strong>
          </ion-label>
          <ion-label class="areas-of-focus--subtitle">
            <ion-text style="font-size: 12px">
              {{ 'areas-of-focus-summary-component.aof-subtitle' | translate }}
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-item>
    </ion-col>
    <ion-col size-lg="4" size-md="4" size-xs="4" class="ion-no-padding">
      <ion-item
        lines="none"
        class="component-title-item ion-padding-left ion-no-margin ion-align-items-end"
        color="ibf-secondary"
      >
        <ion-label class="areas-of-focus--subtitle">
          <ion-text
            style="font-size: 12px"
            [title]="
              'areas-of-focus-summary-component.tasks-subtitle' | translate
            "
          >
            {{ 'areas-of-focus-summary-component.tasks-subtitle' | translate }}
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row
    *ngFor="let areaOfFocus of areasOfFocus"
    class="ion-no-padding"
    data-test="action-summary-types"
  >
    <ng-container>
      <ion-col size-lg="8" size-md="8" size-xs="8">
        <ion-item lines="inset" class="areas-of-focus-item ion-no-padding">
          <ion-thumbnail slot="start" class="areas-of-focus-item-thumbnail">
            <ion-img src="assets/icons/{{ areaOfFocus.icon }}"></ion-img>
          </ion-thumbnail>
          <ion-label
            class="areas-of-focus-item-label"
            [title]="areaOfFocus.label"
          >
            {{ areaOfFocus.label }}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size-xs="4">
        <ion-item class="areas-of-focus-item-value ion-no-padding">
          <ion-label class="ion-text-center">
            <span
              >{{ areaOfFocus.countChecked }} / {{ areaOfFocus.count }}</span
            >
          </ion-label>
        </ion-item>
      </ion-col>
    </ng-container>
  </ion-row>
</ng-container>
