<div class="ibf-map-layer-control">
  <ion-menu-toggle menu="layer-control" id="layer-control-toggle">
    <ion-header>
      <ion-toolbar color="ibf-royal-blue">
        <ion-buttons slot="end">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title>Layers</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-menu-toggle>
  <ion-menu
    side="end"
    type="push"
    contentId="layer-control-toggle"
    menuId="layer-control"
  >
    <ion-menu-toggle menu="layer-control">
      <ion-header>
        <ion-toolbar color="ibf-royal-blue">
          <ion-buttons slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-buttons>
          <ion-title>Layers</ion-title>
        </ion-toolbar>
      </ion-header>
    </ion-menu-toggle>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let layer of layers">
          <label>
            <input
              type="checkbox"
              [name]="layer.name"
              [checked]="layer.active ? 'true' : null"
              (change)="updateLayer(layer.name, $event.target.checked)"
            />
            &nbsp;
            {{ layer.label }}: [{{ layer.type }}]
          </label>
          <br />
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</div>
