<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button href="/" title="Home">
                <ion-icon name="home" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button href="/overview" title="Overview">
                <ion-icon name="apps" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>map</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="ion-margin-vertical">
        <ion-button
            color="tertiary"
            (click)="toggleFirstLayer()"
            [fill]="mapService.state.layers[0]?.active ? 'solid' : 'outline'"
        >
            Toggle first layer
        </ion-button>
    </div>
    <app-map style="outline: 1px solid hotpink;"></app-map>
</ion-content>
