:root {
	--ion-color-fiveten-neutral-700: #4F5763;
	--ion-color-fiveten-neutral-700-rgb: 79,87,99;
	--ion-color-fiveten-neutral-700-contrast: #ffffff;
	--ion-color-fiveten-neutral-700-contrast-rgb: 255,255,255;
	--ion-color-fiveten-neutral-700-shade: #464d57;
	--ion-color-fiveten-neutral-700-tint: #616873;
}

.ion-color-fiveten-neutral-700 {
	--ion-color-base: var(--ion-color-fiveten-neutral-700);
	--ion-color-base-rgb: var(--ion-color-fiveten-neutral-700-rgb);
	--ion-color-contrast: var(--ion-color-fiveten-neutral-700-contrast);
	--ion-color-contrast-rgb: var(--ion-color-fiveten-neutral-700-contrast-rgb);
	--ion-color-shade: var(--ion-color-fiveten-neutral-700-shade);
	--ion-color-tint: var(--ion-color-fiveten-neutral-700-tint);
}
