# IDE / Editors
.vscode
.idea
*.sublime-project
*.sublime-workspace


# Configuration, secrets, etc:
.env
inspect.docker-compose.config
nginx/letsencrypt/*
!nginx/letsencrypt/README.md
push-test.sh
.secrets

# R specific:
.Rproj.user
.Rhistory
.RData
.Ruserdata


# Generic ignored files:
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
*.log*

# node
node_modules
# package-lock.json

# Build outputs
dist/
build/
out/
*.tsbuildinfo

# Vite
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Svelte
.svelte-kit/

# Qase
/logs/

.taskkey


interfaces/IBF-svelte/src/espocrm/*.zip
interfaces/IBF-svelte/src/espocrm/advanced-pack-temp