version: "3.8"

services:
    nginx:
        image: staticfloat/nginx-certbot
        ports:
            - 80:80
            - 443:443
        environment:
            CERTBOT_EMAIL: ${CERTBOT_EMAIL}
            ENVSUBST_VARS: FQDN
            FQDN: ${FQDN}
        volumes:
            - ./nginx/conf.d:/etc/nginx/user.conf.d
            - ibf-dashboard-root:/var/www/ibf-dashboard
            - letsencrypt:/etc/letsencrypt
        networks:
            web-server-network:
        restart: unless-stopped

    ibf-api-service:
        build:
            context: ./services/API-service
            args:
                - NODE_ENV=${NODE_ENV}
        image: rodekruis/ibf-api-service
        environment:
            - ADMIN_PASSWORD=${ADMIN_PASSWORD}
            - DB_TYPE=${DB_TYPE}
            - DB_HOST=${DB_HOST}
            - DB_PORT=${DB_PORT}
            - DB_DATABASE=${DB_DATABASE}
            - DB_USERNAME=${DB_USERNAME}
            - DB_PASSWORD=${DB_PASSWORD}
            - NODE_ENV=${NODE_ENV}
            - PRODUCTION_DATA_SERVER=${PRODUCTION_DATA_SERVER}
            - SECRET=${SECRET}
            - RESET_SECRET=${RESET_SECRET}
            - WATERPOINTDATA_TOKEN=${WATERPOINTDATA_TOKEN}
            - COUNTRIES=${COUNTRIES}
            - DASHBOARD_URL=${DASHBOARD_URL}
            - MC_API=${MC_API}
            - MC_LIST_ID=${MC_LIST_ID}
            - MC_SEGMENTS=${MC_SEGMENTS}
        volumes:
            - api-root:/home/ibf/api-service
        networks:
            web-server-network:
            api-network:

    ibf-dashboard:
        build:
            context: ./interfaces/IBF-dashboard
            args:
                - NG_CONFIGURATION=${NG_CONFIGURATION}
                - NG_API_URL=${NG_API_URL}
                - NG_USE_SERVICE_WORKER=${NG_USE_SERVICE_WORKER}
                - NG_GEOSERVER_URL=${NG_GEOSERVER_URL}
                - NG_IBF_SYSTEM_VERSION=${NG_IBF_SYSTEM_VERSION}
                - NG_IBF_VIDEO_GUIDE_URL=${NG_IBF_VIDEO_GUIDE_URL}
                - NG_APPLICATION_INSIGHTS_INSTRUMENTATION_KEY=${NG_APPLICATION_INSIGHTS_INSTRUMENTATION_KEY}
                - NG_APPLICATION_INSIGHTS_URL=${NG_APPLICATION_INSIGHTS_URL}
        image: rodekruis/ibf-dashboard
        environment:
            - NG_CONFIGURATION=${NG_CONFIGURATION}
            - NG_API_URL=${NG_API_URL}
            - NG_USE_SERVICE_WORKER=${NG_USE_SERVICE_WORKER}
            - NG_GEOSERVER_URL=${NG_GEOSERVER_URL}
            - NG_IBF_SYSTEM_VERSION=${NG_IBF_SYSTEM_VERSION}
            - NG_IBF_VIDEO_GUIDE_URL=${NG_IBF_VIDEO_GUIDE_URL}
            - NG_APPLICATION_INSIGHTS_INSTRUMENTATION_KEY=${NG_APPLICATION_INSIGHTS_INSTRUMENTATION_KEY}
            - NG_APPLICATION_INSIGHTS_URL=${NG_APPLICATION_INSIGHTS_URL}
        volumes:
            - ibf-dashboard-root:/home/node/app/www
        networks:
            web-server-network:

    ibf-pipeline:
        build: ./services/IBF-pipeline
        image: rodekruis/ibf-pipeline
        environment:
            - DB_HOST=${DB_HOST}
            - DB_PORT=${DB_PORT}
            - DB_DATABASE=${DB_DATABASE}
            - DB_USERNAME=${DB_USERNAME}
            - DB_PASSWORD=${DB_PASSWORD}
            - COUNTRIES=${COUNTRIES}
            - DASHBOARD_URL=${DASHBOARD_URL}
            - EMAIL_NOTIFICATION=${EMAIL_NOTIFICATION}
        command: /bin/sh ./entrypoint.sh
        volumes:
            - pipeline-root:/home/ibf
        networks:
            api-network:
        restart: unless-stopped

    ibf-geoserver:
        image: kartoza/geoserver
        volumes:
            - api-geoserver-files:/opt/geoserver/data_dir/workspaces/ibf-system/ibf-pipeline
            - api-geoserver-workspace:/opt/geoserver/data_dir/workspaces/ibf-system
        networks:
            web-server-network:
            api-network:
        restart: unless-stopped

volumes:
    ibf-dashboard-root:
    pipeline-root:
        driver_opts:
            type: bind
            device: ./services/IBF-pipeline
            o: bind
    api-root:
        driver_opts:
            type: bind
            device: ./services/API-service
            o: bind
    api-geoserver-files:
        driver_opts:
            type: bind
            device: ./services/API-service/geoserver-volume/raster-files
            o: bind
    api-geoserver-workspace:
        driver_opts:
            type: bind
            device: ./services/API-service/geoserver-volume/geoserver-layers
            o: bind
    letsencrypt:
        driver_opts:
            type: bind
            device: ./nginx/letsencrypt
            o: bind

networks:
    web-server-network:
        driver: bridge
    api-network:
        driver: bridge
    
