@if (enableSearch || multi) {
  <ion-header>
    @if (multi) {
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelChanges()" color="medium">
            {{ 'type-ahead.cancel' | translate }}
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            (click)="confirmChanges()"
            color="dark"
            [disabled]="disableConfirm"
          >
            {{ 'type-ahead.save' | translate }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    }
    @if (enableSearch) {
      <ion-toolbar>
        <ion-searchbar
          placeholder="{{ 'type-ahead.search-placeholder' | translate }}"
          (ionInput)="searchbarInput($event)"
          [style]="{ paddingTop: multi ? '1px' : '15px' }"
        ></ion-searchbar>
      </ion-toolbar>
    }
  </ion-header>
}

<ion-list [inset]="false" class="max-h-80 overflow-scroll">
  @if (multi) {
    @for (item of filteredItems; track item.value) {
      <ion-item [lines]="$last ? 'none' : 'full'" [title]="item.label">
        <ion-checkbox
          color="medium"
          [value]="item.value"
          [checked]="isChecked(item.value)"
          (ionChange)="checkboxChange($event)"
          [disabled]="item.disabled"
        >
          {{ item.label }}
        </ion-checkbox>
      </ion-item>
    }
  } @else {
    <ion-radio-group [value]="selectedItems" (ionChange)="radioChange($event)">
      @for (item of filteredItems; track item.value) {
        <ion-item [lines]="$last ? 'none' : 'full'" [title]="item.label">
          <ion-radio
            color="medium"
            [value]="item.value"
            [disabled]="item.disabled"
          >
            {{ item.label }}
          </ion-radio>
        </ion-item>
      }
    </ion-radio-group>
  }
  @if (filteredItems.length === 0) {
    <ion-item lines="none">
      <ion-note class="mx-auto my-12">
        {{ 'type-ahead.no-items' | translate }}
      </ion-note>
    </ion-item>
  }
</ion-list>
