<ion-card class="popover-window-card">
  <ion-card-header color="ibf-primary">
    <ion-icon
      name="close-circle"
      size="large"
      (click)="closePopover()"
      class="popover-close-button"
    ></ion-icon>
    <ion-card-title>Forgot password?</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding-top ion-text-center">
    <ion-item lines="none">
      <span>
        {{ 'login-page.forgot-password-message' | translate }}
        <strong>{{ emailAddress }}</strong>
      </span>
    </ion-item>
  </ion-card-content>
</ion-card>
