<ion-header>
    <ion-toolbar>
        <ion-title>"Overview"</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <h2>Sitemap:</h2>
    <ul>
        <li><a href="/">/</a></li>
        <li>/<a href="/login">login</a> - ...</li>
        <li
            >/<a href="/overview">overview</a> - the main view users will
            use</li
        >
    </ul>
    <h3>Development/testing only:</h3>
    <ul>
        <li>/<a href="/home">home</a> - this page</li>
        <li>/<a href="/map">map</a> - Only the <code>MapComponent</code></li>
    </ul>
</ion-content>
