<ion-card class="popover-window-card">
  <ion-card-header color="ibf-primary">
    <ion-icon
      name="close-circle"
      size="large"
      (click)="closePopover()"
      class="popover-close-button"
    ></ion-icon>
    <ion-card-title [innerHTML]="
    'map-popups.community-notification.photo-popup.title'
      | translate: { formattedDate: formattedDate }
  "></ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding-top">
    <img src="{{ url }}" />
  </ion-card-content>
</ion-card>
