app-dialogue-turn {
  p,
  ion-label,
  ion-note {
    font-size: 12px;
  }
}

.action-label {
  font-size: small;
}

.clear-out-message {
  color: var(--ion-color-danger);
  font-weight: bold;
}

ion-checkbox {
  margin-inline-end: 8px !important;
}

.clickable-area {
  text-decoration: underline;
  cursor: pointer;

  :hover {
    font-weight: bold;
  }
}

.event-header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 0.875rem;

  .event-header--icon-title {
    align-self: center;
    flex-grow: 3;
  }

  .event-header--tooltip {
    align-self: start;
  }
}

.warning-icon {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}
