<app-dialogue-turn
  *ngIf="type === 'active'"
  isConnected="true"
  [isTriggered]="event.thresholdReached"
  [isNotTriggered]="!event.thresholdReached"
  [isSelected]="eventBubbleIsSelected(event.eventName)"
  isConnected="true"
>
  <p *ngIf="event.activeTrigger && event.thresholdReached">
    <span
      [innerHTML]="
        'chat-component.' +
          disasterTypeName +
          '.active-event-active-trigger.welcome'
          | translate
            : {
                name: displayName,
                startDate: event.startDate,
                leadTime: event.firstLeadTimeLabel,
                timeUnit: event.timeUnit,
                disasterTypeLabel: disasterTypeLabel,
                firstLeadTimeDate: event.firstLeadTimeDate,
                eventName: event.eventName || disasterTypeLabel,
                duration: event.duration
              }
      "
    ></span>
  </p>

  <p *ngIf="typhoonLandfallText" [innerHTML]="typhoonLandfallText"></p>

  <p *ngIf="forecastInfo && countryCodeISO3 === 'ZWE'">
    {{ forecastInfo }}
  </p>

  <p
    class="clear-out-message"
    *ngIf="!!clearOutMessage"
    [innerHTML]="clearOutMessage"
  ></p>

  <!-- =================================== -->

  <ng-container *ngIf="event.eventName === selectedEvent">
    <p
      [innerHTML]="
        'chat-component.' + disasterTypeName + '.active-event.overview'
          | translate
            : {
                nrTriggeredAreas: areas.length,
                adminAreaLabelPlural: adminAreaLabelPlural,
                eventName: selectedEvent,
                actionIndicator: actionIndicatorLabel
              }
      "
    ></p>
    <ul>
      <li
        *ngFor="let area of areas"
        class="clickable-area"
        (click)="selectArea(area)"
      >
        <p>
          {{ area.name }}
          <span *ngIf="area.nameParent">({{ area.nameParent }})</span> -
          <span *ngIf="actionIndicatorNumberFormat === 'decimal0'">{{
            area.actionsValue | number: '.0-0'
          }}</span
          ><span *ngIf="actionIndicatorNumberFormat === 'perc'">{{
            area.actionsValue | percent: '.0-0'
          }}</span>
        </p>
      </li>
    </ul>
    <p
      [translate]="
        'chat-component.' + disasterTypeName + '.active-event.instruction'
          | translate
      "
    ></p>
  </ng-container>

  <ng-container *ngIf="event">
    <app-event-switcher [event]="event"></app-event-switcher>
  </ng-container>
</app-dialogue-turn>

<app-dialogue-turn
  *ngIf="type === 'stopped'"
  isConnected="true"
  isStopped="true"
  isConnected="true"
>
  <p
    *ngIf="event.activeTrigger && !event.thresholdReached"
    [innerHTML]="
      'chat-component.' +
        disasterTypeName +
        '.active-event-active-trigger.welcome-below-trigger'
        | translate
          : {
              startDate: event.startDate,
              firstLeadTimeDate: event.firstLeadTimeDate,
              eventName: event.eventName
            }
    "
  ></p>

  <p *ngIf="typhoonLandfallText" [innerHTML]="typhoonLandfallText"></p>

  <p *ngIf="forecastInfo && countryCodeISO3 === 'ZWE'">
    {{ forecastInfo }}
  </p>

  <p *ngIf="forecastInfo && countryCodeISO3 === 'ZWE'">
    {{ forecastInfo }}
  </p>

  <p
    class="clear-out-message"
    *ngIf="!!clearOutMessage"
    [innerHTML]="clearOutMessage"
  ></p>

  <!-- =================================== -->

  <ng-container *ngIf="event.eventName === selectedEvent">
    <p
      [innerHTML]="
        'chat-component.' + disasterTypeName + '.stopped-event.overview'
          | translate
            : {
                nrStoppedAreas: areas.length,
                adminAreaLabelPlural: adminAreaLabelPlural,
                eventName: selectedEvent,
                actionIndicator: actionIndicatorLabel
              }
      "
    ></p>
    <ul>
      <li
        *ngFor="let area of areas"
        class="clickable-area"
        (click)="selectArea(area)"
      >
        <p>
          {{ area.name }}
          <span *ngIf="area.nameParent">({{ area.nameParent }})</span> -
          <span *ngIf="actionIndicatorNumberFormat === 'decimal0'">{{
            area.actionsValue | number: '.0-0'
          }}</span
          ><span *ngIf="actionIndicatorNumberFormat === 'perc'">{{
            area.actionsValue | percent: '.0-0'
          }}</span>
        </p>
      </li>
    </ul>
    <p
      [translate]="
        'chat-component.' + disasterTypeName + '.stopped-event.instruction'
          | translate
      "
    ></p>
  </ng-container>

  <ng-container *ngIf="event">
    <app-event-switcher [event]="event"></app-event-switcher>
  </ng-container>
</app-dialogue-turn>

<app-dialogue-turn *ngIf="type === 'old'" isConnected="true">
  <p
    [innerHTML]="
      'chat-component.' + disasterTypeName + '.active-event-no-trigger.welcome'
        | translate
          : {
              name: displayName,
              startDate: event.startDate,
              endDate: event.endDate,
              eventName: event.eventName
            }
    "
  ></p>
  <p
    class="clear-out-message"
    *ngIf="!!clearOutMessage"
    [innerHTML]="clearOutMessage"
  ></p>
</app-dialogue-turn>

<app-dialogue-turn *ngIf="type === 'no-event'" isConnected="true">
  <p
    [innerHTML]="
      'chat-component.' + disasterTypeName + '.no-event-no-trigger.welcome'
        | translate
          : {
              name: displayName
            }
    "
  ></p>
  <p
    class="clear-out-message"
    *ngIf="!!clearOutMessage"
    [innerHTML]="clearOutMessage"
  ></p>
</app-dialogue-turn>
