@if (type === 'active') {
  <app-dialogue-turn
    [isTriggered]="event.thresholdReached"
    [isNotTriggered]="!event.thresholdReached"
    [isSelected]="eventBubbleIsSelected(event.eventName)"
    [borderColor]="getCardColors().borderColor"
  >
    @if (event.thresholdReached) {
      <div class="event-header">
        <span class="event-header--icon-title">
          <ion-icon
            [style.color]="getCardColors().iconColor"
            class="warning-icon"
            src="/assets/icons/Alert_Title.svg"
            slot="start"
          ></ion-icon>
          <span [style.color]="getCardColors().headerTextColor" class="">
            {{ event.header }}
          </span>
        </span>
        <app-tooltip
          data-testid="tooltip-button"
          class="event-header--tooltip"
          [value]="'chat-component.common.event-tooltip' | translate"
          color="ibf-no-alert-primary"
        ></app-tooltip>
      </div>
      <p>
        @if (!event.duration && showFirstWarningDate()) {
          <span
            [innerHTML]="
              'chat-component.' +
                disasterTypeName +
                '.active-event-active-trigger.welcome'
                | translate
                  : {
                      name: displayName,
                      startDate: event.startDate,
                      leadTime: event.firstLeadTimeLabel,
                      timeUnit: event.timeUnit,
                      disasterTypeLabel: disasterTypeLabel,
                      firstLeadTimeDate: event.firstLeadTimeDate,
                      firstTriggerLeadTimeDate: event.firstTriggerLeadTimeDate,
                      eventName:
                        event.eventName?.split('_')[0] || disasterTypeLabel,
                      duration: event.duration,
                      nrTriggeredAreas: areas.length,
                    }
            "
          ></span>
        }
        @if (event.duration) {
          <span
            [innerHTML]="
              'chat-component.' +
                disasterTypeName +
                '.active-event-active-trigger.welcome-duration'
                | translate
                  : {
                      name: displayName,
                      startDate: event.startDate,
                      leadTime: event.firstLeadTimeLabel,
                      timeUnit: event.timeUnit,
                      disasterTypeLabel: disasterTypeLabel,
                      firstLeadTimeDate: event.firstLeadTimeDate,
                      eventName:
                        event.eventName?.split('_')[0] || disasterTypeLabel,
                      duration: event.duration,
                    }
            "
          ></span>
        }
      </p>
    } @else {
      <div class="event-header">
        <span class="event-header--icon-title">
          <ion-icon
            [style.color]="getCardColors().iconColor"
            class="warning-icon"
            src="/assets/icons/Alert_Title.svg"
            slot="start"
          ></ion-icon>
          <span [style.color]="getCardColors().headerTextColor" class="">
            {{ event.header }}
          </span>
        </span>
        <app-tooltip
          data-testid="tooltip-button"
          class="event-header--tooltip"
          [value]="'chat-component.common.event-tooltip' | translate"
          color="ibf-no-alert-primary"
        ></app-tooltip>
      </div>
      <p
        [innerHTML]="
          'chat-component.' +
            disasterTypeName +
            '.active-event-active-trigger.welcome-below-trigger'
            | translate
              : {
                  startDate: event.startDate,
                  firstLeadTimeDate: event.firstLeadTimeDate,
                  firstTriggerLeadTimeDate: event.firstTriggerLeadTimeDate,
                  eventName: event.eventName?.split('_')[0],
                  leadTime: event.firstLeadTimeLabel,
                  timeUnit: event.timeUnit,
                  disasterTypeLabel: disasterTypeLabel,
                  nrTriggeredAreas: areas.length,
                }
        "
      ></p>
    }

    @if (isEventWithForecastClasses()) {
      <p>
        <strong
          >{{ event.disasterSpecificProperties.eapAlertClass.label }}:
        </strong>
        @if (event.thresholdReached) {
          <span
            >{{
              'chat-component.' +
                disasterTypeName +
                '.alertLevel.expected-trigger' | translate
            }}
            {{ event.firstTriggerLeadTimeDate }}</span
          >
        } @else {
          <span
            >{{
              'chat-component.' + disasterTypeName + '.alertLevel.expected'
                | translate
            }}
            {{ event.firstLeadTimeDate }}</span
          >
        }
      </p>
      <p>
        <strong
          >{{
            'chat-component.' + disasterTypeName + '.alertLevel.exposed-areas'
              | translate: { adminAreaLabelPlural: adminAreaLabelPlural }
          }}
        </strong>
        <span>{{ event.nrAffectedAreas + ' ' }}</span>
        @if (event.thresholdReached) {
          <span>{{
            '(' +
              (actionIndicatorLabel | titlecase) +
              ' ' +
              (event.actionsValueSum | compact) +
              ')'
          }}</span>
        } @else {
          <span>
            {{
              '(' +
                ('chat-component.' + disasterTypeName + '.alertLevel.no-data'
                  | translate) +
                ')'
            }}
          </span>
        }
      </p>
    }

    @if (typhoonLandfallText) {
      <p [innerHTML]="typhoonLandfallText"></p>
    }

    @if (forecastInfo && countryCodeISO3 === 'ZWE') {
      <p>{{ forecastInfo }}</p>
    }

    @if (!!clearOutMessage) {
      <p class="clear-out-message" [innerHTML]="clearOutMessage"></p>
    }

    <!-- =================================== -->

    @if (event.eventName === selectedEvent) {
      @if (event.thresholdReached) {
        <p
          [innerHTML]="
            'chat-component.' + disasterTypeName + '.active-event.overview'
              | translate
                : {
                    nrTriggeredAreas: areas.length,
                    adminAreaLabelPlural: adminAreaLabelPlural,
                    eventName: selectedEvent?.split('_')[0],
                    actionIndicator: actionIndicatorLabel,
                  }
          "
        ></p>
      } @else {
        <p
          [innerHTML]="
            'chat-component.' +
              disasterTypeName +
              '.active-event.overview-below-trigger'
              | translate
                : {
                    nrTriggeredAreas: areas.length,
                    adminAreaLabelPlural: adminAreaLabelPlural,
                    eventName: selectedEvent?.split('_')[0],
                    actionIndicator: actionIndicatorLabel,
                  }
          "
        ></p>
      }
      <div>
        <ul class="list-inside list-disc text-xs">
          @for (area of areas; track area.eventPlaceCodeId) {
            <li
              class="my-1 cursor-pointer hover:underline"
              (click)="selectArea(area)"
            >
              {{ area.name }}
              @if (area.nameParent) {
                <span>({{ area.nameParent }})</span>
              }
              @if (area.actionsValue && area.actionsValue > 0) {
                {{ ' - ' }}
                <span>{{
                  area.actionsValue | compact: actionIndicatorNumberFormat
                }}</span>
              }
            </li>
          }
        </ul>
      </div>
      @if (event.thresholdReached) {
        <p
          [translate]="
            'chat-component.' + disasterTypeName + '.active-event.instruction'
              | translate
          "
        ></p>
      }
    }

    @if (event) {
      <app-event-switcher [event]="event"></app-event-switcher>
    }
  </app-dialogue-turn>
}

@if (type === 'no-event') {
  <app-dialogue-turn>
    <p
      [innerHTML]="
        'chat-component.' + disasterTypeName + '.no-event-no-trigger.welcome'
          | translate
            : {
                name: displayName,
              }
      "
    ></p>
    @if (!!clearOutMessage) {
      <p class="clear-out-message" [innerHTML]="clearOutMessage"></p>
    }
  </app-dialogue-turn>
}
