app-dialogue-turn {
  p,
  ion-label,
  ion-note {
    font-size: 12px;
  }
}

.action-label {
  font-size: small;
}

.clear-out-message {
  color: var(--ion-color-danger);
  font-weight: bold;
}

ion-checkbox {
  margin-inline-end: 8px !important;
}

.clickable-area {
  text-decoration: underline;
  :hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.event-header {
  font-weight: bold;
  font-size: 14px !important;
}

.warning-icon {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}
