<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/overview" title="Overview">
        <ion-icon name="apps" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="min-height: 80vh; display: flex; flex-direction: column;">
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      style="margin: auto 0;"
    >
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">
        <app-login-form></app-login-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
