<div
  id="ibf-manage-interface"
  data-testid="ibf-manage-interface"
  class="flex h-full flex-col"
>
  <ion-header class="ion-no-border flex-none border-b border-sky-950">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button
          data-testid="app-icon"
          title="{{ 'app-name' | translate }}"
          [routerLink]="['/']"
        >
          <ion-thumbnail class="flex items-center justify-center">
            <img
              alt="{{ 'app-name' | translate }}"
              src="/assets/icons/favicon.png"
              class="h-10 w-10"
            />
          </ion-thumbnail>
        </ion-button>
      </ion-buttons>
      <app-user-state></app-user-state>
    </ion-toolbar>
    <app-disclaimer-toolbar></app-disclaimer-toolbar>
  </ion-header>

  <ion-content>
    <ion-tabs>
      <ion-tab-bar slot="top" class="justify-start" color="ibf-white">
        <ion-tab-button tab="account" class="text-base">
          <ion-label>{{ 'manage.account' | translate }}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="users" class="text-base">
          <ion-label>{{ 'manage.users' | translate }}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="preferences" class="text-base">
          <ion-label>{{ 'manage.preferences' | translate }}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>
