<ion-grid class="m-8 max-w-7xl">
  <ion-row class="mb-6">
    <ion-col size="6">
      <ion-input
        [(ngModel)]="filterText"
        [disabled]="users.length === 0"
        fill="outline"
        [clearInput]="true"
        placeholder="Search..."
        style="--highlight-color-valid: var(--ion-color-ibf-grey-light)"
      >
      </ion-input>
    </ion-col>
    <ion-col size="6" class="flex items-center justify-end space-x-2">
      <ion-button
        fill="clear"
        size="large"
        color="ibf-grey"
        (mouseenter)="showManageUsersMenu($event)"
      >
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="text-black text-opacity-40">
    @for (column of columns; track column.key) {
      @if (column.key !== 'countries' || userCountries.length > 1) {
        <ion-col
          (click)="setSort(column.key)"
          class="flex cursor-pointer items-center justify-start gap-2 indent-8"
          size="6"
          size-md="3"
        >
          {{ column.label | translate }}
          <ion-icon [name]="getSortIcon(column.key)"></ion-icon>
        </ion-col>
      }
    }
  </ion-row>
  @if (pagedUsers.length === 0) {
    <ion-row>
      <ion-col class="flex h-40 items-center justify-center italic">
        {{ message }}
      </ion-col>
    </ion-row>
  } @else {
    @for (pagedUser of pagedUsers; track pagedUser.userId) {
      <ion-row class="items-center" [class.bg-gray-100]="$even">
        <ion-col size="6" size-md="3">
          <ion-list [inset]="true" mode="ios" class="!m-2">
            <ion-item [color]="$even ? 'light' : 'ibf-white'">
              {{ getUserName(pagedUser) }}
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="6" size-md="3">
          <ion-list [inset]="true" mode="ios" class="!m-2">
            <ion-item
              [button]="true"
              [detail]="true"
              detail-icon="mail"
              href="mailto:{{ pagedUser.email }}"
            >
              {{ pagedUser.email }}
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="6" size-md="3">
          <ion-list [inset]="true" mode="ios" class="!m-2">
            <ion-item
              [button]="true"
              (click)="showUserRoles($event, pagedUser)"
              [detail]="true"
              detail-icon="chevron-expand"
              [disabled]="!userRoles.includes(pagedUser.userRole)"
            >
              {{ USER_ROLE_LABEL[pagedUser.userRole] || pagedUser.userRole }}
            </ion-item>
          </ion-list>
        </ion-col>
        @if (userCountries.length > 1) {
          <ion-col size="6" size-md="3">
            <ion-list [inset]="true" mode="ios" class="!m-2">
              <ion-item
                [button]="true"
                (click)="showUserCountries($event, pagedUser)"
                [detail]="true"
                detail-icon="chevron-expand"
                [class.text-red-500]="pagedUser.countries.length === 0"
              >
                {{
                  'manage.users.countries-count'
                    | translate
                      : {
                          countryCount: pagedUser.countries.length,
                          countryLabel:
                            countryName[pagedUser.countries[0]] ||
                            pagedUser.countries[0],
                        }
                }}
              </ion-item>
            </ion-list>
          </ion-col>
        }
      </ion-row>
    }
  }
  <ion-row class="mt-6">
    @if (pagedUsers.length > 0) {
      <ion-col
        size="12"
        offset="0"
        offset-md="6"
        size-md="6"
        class="flex items-center justify-end space-x-2"
      >
        <ion-button
          color="medium"
          fill="clear"
          (click)="page = 1"
          [disabled]="page === 1"
        >
          <ion-icon slot="icon-only" name="caret-back"></ion-icon>
        </ion-button>
        <ion-button
          color="medium"
          fill="clear"
          (click)="page = page - 1"
          [disabled]="page === 1"
        >
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
        <span>
          {{ (page - 1) * pageSize + 1 }} to
          {{ min(page * pageSize, sortedUsers.length) }} of
          {{ sortedUsers.length }}
        </span>
        <ion-button
          color="medium"
          fill="clear"
          (click)="page = page + 1"
          [disabled]="page === totalPages"
        >
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
        <ion-button
          color="medium"
          fill="clear"
          (click)="page = totalPages"
          [disabled]="page === totalPages"
        >
          <ion-icon slot="icon-only" name="caret-forward"></ion-icon>
        </ion-button>
      </ion-col>
    }
  </ion-row>
</ion-grid>
