<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/" title="Home">
        <ion-icon name="apps" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-user-state></app-user-state>
    <ion-row slot="end">
      <ion-col size="auto">
        <app-logos></app-logos>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="page-structure ion-no-padding">
    <ion-row class="page-structure--content">
      <ion-col
        sizeXs="12"
        sizeMd="5"
        sizeLg="5"
        sizeXl="5"
        class="ibf-dashboard-left-column ion-no-padding"
      >
        <ion-row
          class="component-title ion-justify-content-start ion-align-items-start"
        >
          <ion-col size="12">
            <ion-item lines="none" class="component-title-item">
              <ion-thumbnail slot="start" class="component-title-thumbnail">
                <ion-img src="assets/icons/alert-black.svg"></ion-img>
              </ion-thumbnail>
              <ion-label><strong>Situational Overview</strong></ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="component-content">
          <ion-col
            sizeXs="12"
            sizeMd="7"
            sizeLg="7"
            sizeXl="7"
            class="ibf-dashboard-left-column-left-sub-column ion-no-padding"
          >
            <app-chat></app-chat>
          </ion-col>
          <ion-col
            sizeXs="12"
            sizeMd="5"
            sizeLg="5"
            sizeXl="5"
            class="ibf-dashboard-left-column-right-sub-column"
          >
            <app-aggregates></app-aggregates>
            <br />
            <app-aof-summary
              style="position: absolute; bottom: 0; width: calc(100% - 10px);"
            ></app-aof-summary>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col
        sizeXs="12"
        sizeMd="7"
        sizeLg="7"
        sizeXl="7"
        class="ion-no-padding"
      >
        <ion-row>
          <ion-col>
            <app-timeline></app-timeline>
          </ion-col>
        </ion-row>
        <ion-row>
          <app-map-controls></app-map-controls>
          <app-map></app-map>
          <app-matrix></app-matrix>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
