.debug-container {
  outline: 1px dashed hotpink;
}
.debug-placeholder {
  display: flex;

  > * {
    margin: auto;
  }
}

#ibf-dashboard-map {
  pointer-events: all !important;
}

.ibf-dashboard-interface {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

ion-menu {
  ion-menu-toggle {
    cursor: pointer;
  }
}

app-export-view {
  display: flex;
  height: 100%;
}

.today-date {
  height: 40px;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 0;
  padding-left: 0;
}

// The lay-out of the `ion-content`-area of the page/screen
.page-structure {
  padding-top: 8px;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;

  // The `ion-row` that should fill the height of the page/screen:
  .page-structure--content {
    flex-grow: 1;

    .ibf-dashboard-left-column {
      display: flex;
      flex-direction: column;

      .component-title {
        .component-title-item {
          --background: transparent;
          --height: 40px;
          --min-height: 40px;
          --inner-padding-end: 0px;

          ion-button {
            --box-shadow: none;
            text-transform: uppercase;
            opacity: 1;
            padding-inline-start: 0px;
            height: 60%;
            margin: 0;

            app-date-button {
              background-color: var(--ion-color-ibf-primary);
              color: var(--ion-color-ibf-primary-contrast);
              border: var(--ion-color-ibf-primary-contrast);
              height: 38px;
              width: 70px;
              font-weight: 700;
              padding: 5px;
              padding-top: 5px;
            }

            .button-border-line {
              border-bottom-color: 2px solid var(--ion-color-ibf-primary);
              border-bottom: var(--ion-color-ibf-primary);
              border-bottom: solid rgb(83, 7, 224);
              border-width: 2px;
              background-color: var(--ion-color-ibf-primary-contrast);
            }
          }

          .component-title-thumbnail {
            height: 24px;
            width: 24px;
            display: none;
          }
        }
      }

      .component-content {
        flex-grow: 1;
      }
    }

    .ibf-dashboard-right-column {
      display: flex;
      flex-direction: column;

      .component-content {
        flex-grow: 1;
        overflow: hidden;

        .ibf-dashboard-right-column-left-sub-column {
          display: flex;

          ion-content {
            .ibf-dashboard-right-column-left-sub-column-grid {
              display: flex;
              flex-flow: column nowrap;
              overflow: auto;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
