.debug-container {
  outline: 1px dashed hotpink;
}
.debug-placeholder {
  display: flex;

  > * {
    margin: auto;
  }
}

.ibf-dashboard-interface {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

ion-menu {
  ion-menu-toggle {
    cursor: pointer;
  }
}

app-export-view {
  display: flex;
  height: 100%;
}

// The lay-out of the `ion-content`-area of the page/screen
.page-structure {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;

  // The `ion-row` that should fill the height of the page/screen:
  .page-structure--content {
    flex-grow: 1;

    .ibf-dashboard-left-column {
      display: flex;
      flex-direction: column;

      .component-title {
        .component-title-item {
          --background: transparent;
          --height: 40px;
          --min-height: 40px;

          ion-button {
            width: 160px;
            --box-shadow: none;
            text-transform: uppercase;
            opacity: 1;

            span {
              &.today {
                font-size: 24px;
                padding-right: 10px;
              }
            }
          }

          .component-title-thumbnail {
            height: 24px;
            width: 24px;
            display: none;
          }
        }
      }

      .component-content {
        flex-grow: 1;

        .ibf-dashboard-left-column-right-sub-column {
          display: flex;

          ion-content {
            .ibf-dashboard-left-column-right-sub-column-grid {
              display: flex;
              flex-flow: column nowrap;
              overflow: auto;
              height: 100%;
            }
          }
        }
      }
    }

    .ibf-dashboard-right-column {
      display: flex;
      flex-direction: column;

      .component-content {
        flex-grow: 1;
        overflow: hidden;
      }
    }
  }
}

.disclaimer-toolbar {
  --min-height: 36px;
}
