<ion-button
  fill="clear"
  shape="round"
  size="default"
  id="disclaimer-approximate-trigger"
>
  <ion-icon
    color="fiveten-navy-900"
    icon="information-circle-outline"
    slot="icon-only"
  ></ion-icon>
</ion-button>

<ion-popover
  data-testid="disclaimer-popover-layer"
  side="right"
  trigger="disclaimer-approximate-trigger"
  triggerAction="click"
  showBackdrop="false"
>
  <ng-template>
    <ion-content
      data-testid="disclaimer-approximate-message"
      class="ion-padding font-size-12"
    >
      {{ 'disclaimer-approximate-component.message' | translate }}
    </ion-content>
  </ng-template>
</ion-popover>
