<ion-card data-test="ibf-guide-popover" class="popover-window-card">
  <ion-card-header color="ibf-no-alert-primary">
    <ion-icon
      name="close-circle"
      size="large"
      (click)="closePopover()"
      class="popover-close-button"
    ></ion-icon>
    <ion-card-title>{{
      'ibf-guide-component.title' | translate
    }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding-top">
    <div>
      <strong>{{ 'ibf-guide-component.pdf-and-video' | translate }}: </strong>
    </div>
    <br />
    <div>
      {{ 'ibf-guide-component.description' | translate }}
    </div>
    <div class="ion-text-center">
      <ion-button color="ibf-no-alert-primary" (click)="openPdfManual()">
        {{ 'ibf-guide-component.pdf' | translate }}
      </ion-button>
    </div>
    <br />
    <div>
      <strong>{{ 'ibf-guide-component.video' | translate }}:</strong>
      <iframe
        width="560"
        height="315"
        [src]="safeVideoUrl"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </ion-card-content>
</ion-card>
