<ion-card data-test="ibf-guide-popover" class="popover-window-card">
  <ion-card-header color="ibf-no-alert-primary">
    <ion-icon
      name="close-circle"
      size="large"
      (click)="closePopover()"
      class="popover-close-button"
    ></ion-icon>
    <ion-card-title>{{
      'ibf-guide-component.title' | translate
    }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding-top">
    <p
      [innerHTML]="
        'ibf-guide-component.video-pdf-description'
          | translate
            : {
                pdfUrl: pdfUrl
              }
      "
    ></p>
    <br/>
    <p
      [innerHTML]="
        'ibf-guide-component.whats-new-description'
          | translate
            : {
                whatsNewUrl: whatsNewUrl
              }
      "
    ></p>
    <br/>
    <div>
      <iframe
        width="560"
        height="315"
        [src]="safeVideoUrl"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </ion-card-content>
</ion-card>
