<div class="ibf-map-layer-control">
  <ion-menu-toggle
    menu="layer-control"
    [class.ion-hide]="hideLayerControlToggleButton"
  >
    <ion-header>
      <ion-toolbar color="ibf-primary">
        <ion-buttons slot="end">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title data-test="layers-toggle">Layers</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-menu-toggle>
  <ion-menu
    side="end"
    type="overlay"
    contentId="ibf-dashboard-map"
    menuId="layer-control"
    (ionDidOpen)="isLayerControlMenuOpen()"
    (ionDidClose)="isLayerControlMenuOpen()"
    data-test="layers-control-menu"
  >
    <ion-menu-toggle menu="layer-control">
      <ion-header>
        <ion-toolbar color="ibf-primary">
          <ion-buttons slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-buttons>
          <ion-title>Layers</ion-title>
        </ion-toolbar>
      </ion-header>
    </ion-menu-toggle>
    <ion-content>
      <ion-list color="dark" class="ion-no-padding">
        <ion-item
          lines="full"
          *ngFor="let layer of getLayersInOrder()"
          [class.ion-hide]="!layer.show"
          [class.layer-active]="layer.active"
          (click)="toggleLayer(layer)"
          class="ion-no-padding"
          [title]="layer.label"
        >
          <ion-row>
            <ion-col size="8" class="layer-control-label-col">
              <ion-item lines="none" class="ion-no-padding">
                <ion-label class="ion-no-margin" [title]="layer.label">
                  {{ layer.label }}
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col
              size="2"
              class="layer-control-legend-col"
              [class.point-layer]="
                layer.type === IbfLayerType.point && layer.active
              "
              [class.glofas-layer]="
                layer.name === IbfLayerName.glofasStations && layer.active
              "
              [class.red-cross-layer]="
                layer.name === IbfLayerName.redCrossBranches && layer.active
              "
              [class.dam-layer]="
                layer.name === IbfLayerName.damSites && layer.active
              "
              [class.waterpoint-layer]="
                layer.name === IbfLayerName.waterpoints && layer.active
              "
              [class.outline-layer]="
                layer.name === IbfLayerName.alertThreshold && layer.active
              "
              [style.background]="layer.active ? layer.legendColor : null"
            ></ion-col>
            <ion-col
              size="2"
              class="layer-control-info-col ion-align-items-center ion-justify-content-center"
            >
              <ion-icon
                name="information-circle"
                size="large"
                color="light"
                class="layer-control-info-icon"
                (click)="presentPopover($event, layer)"
                data-test="matrix-icon"
              ></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</div>
