.ibf-map-layer-control {
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 0;
  width: 25%;

  ion-menu {
    --width: 100%;
    --background: transparent;

    ion-content {
      --background: transparent;

      ion-list {
        ion-item {
          --min-height: 32px;
          --inner-padding-end: 0;
          --border-color: var(--ion-color-ibf-no-alert-primary);

          cursor: pointer;

          ion-row {
            height: 100%;
            width: 100%;

            .layer-control-info-col {
              display: flex;
            }

            .point-layer {
              background-color: var(--ion-color-ibf-no-alert-primary);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              padding: 4px;
              background-origin: content-box;
            }

            .glofas-layer {
              background-image: url('../../../assets/markers/trigger-icon.svg');
            }
            .typhoon-track-layer {
              background-image: url('../../../assets/markers/typhoon-track.png');
            }
            .red-cross-layer {
              background-image: url('../../../assets/markers/red-cross-icon.svg');
            }
            .dam-layer {
              background-image: url('../../../assets/markers/dam-icon.svg');
            }
            .waterpoint-layer {
              background-image: url('../../../assets/markers/water-point-icon.svg');
            }
            .health-layer {
              background-image: url('../../../assets/markers/health-center-icon.svg');
            }
            .evacuation-center-layer {
              background-image: url('../../../assets/markers/evacuation-center-icon.svg');
            }
            .outline-layer {
              border: solid;
              border-color: var(--ion-color-ibf-outline-red) !important;
              border-width: 3px !important;
            }

            .layer-control-label-col {
              ion-item {
                --background: transparent;

                ion-label {
                  text-transform: capitalize;
                  line-height: 1.2;
                  padding: 4px 8px;
                  font-size: 11px;
                }
              }
            }

            .layer-control-info-icon {
              border-radius: 5px;
            }
          }
        }
      }
    }
  }

  ion-menu-toggle {
    cursor: pointer;

    ion-toolbar {
      --min-height: 36px;
    }
  }
}
