$z-index: 900;
$menu-width: 13vw;
$menu-width-small-res: 16vw;
$toggle-button-bottom: 1.5rem;
$toggle-button-right: 0;
$toggle-button-height: 2.26rem;
$line-height: 1.5rem;

#layer-menu-container {
  position: fixed;
  z-index: $z-index;
  bottom: $toggle-button-bottom;
  right: $toggle-button-right;
  width: $menu-width;
  height: $line-height;
  display: flex;
  flex-direction: column;
  max-height: calc($toggle-button-height + ($line-height * 10));
  @media (max-width: 1280px) {
    width: $menu-width-small-res;
  }

  #layer-menu-toggle-button {
    width: 100%;
    height: $toggle-button-height;
    min-height: $toggle-button-height;
    --border-radius: 0.25rem 0 0 0;
    div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      ion-icon {
        font-size: 1rem;
      }
    }
  }

  #layer-menu {
    bottom: 0px;
    overflow-y: auto;

    ion-row {
      min-height: $line-height;
      border: 1px solid var(--ion-color-ibf-no-alert-primary);
      border-top: none;
    }

    ion-item {
      width: 98%;
      --min-height: $line-height;
      --padding-bottom: 0;
      --padding-top: 0;
      --padding-start: 0.25rem;
      --padding-end: 0.25rem;
      --inner-padding-start: 0;
      --inner-padding-end: 0;

      ion-spinner {
        width: 1rem;
        height: 1rem;
      }

      .single-layer-toggler {
        font-size: 1.3rem;
        cursor: pointer;
        color: var(--ion-color-ibf-no-alert-primary);
      }

      ion-label {
        width: 80%;
        font-size: 0.75rem;
      }

      .info-button {
        --background-hover: #fff;
        --ripple-color: #fff;
      }
      .info-icon {
        font-size: 1.3rem;

        cursor: pointer;
      }
    }
  }
}
