.DEBUG-state {
  position: fixed;
  z-index: 100000;
  bottom: 1em;
  right: 1em;
  height: 33vh;
  width: 50vw;
  overflow: auto;
  padding: 10px;
  color: navy;
  background: rgba(goldenrod, 0.6);
}

.leaflet--map {
  width: 100%;
  min-width: 400px;
  height: 100%;
  min-height: 600px;
}
