<ng-container *ngIf="value">
  <ion-button
    fill="clear"
    shape="round"
    size="small"
    color="light"
    class="tooltip--button ion-no-padding ion-no-margin"
    (click)="presentPopover($event)"
  >
    <ion-icon
      name="information-circle-outline"
      size="small"
      color="medium"
      aria-hidden="true"
      slot="icon-only"
    ></ion-icon>
  </ion-button>
  <!-- <ion-popover
    #popover
    [isOpen]="isOpen"
    (didDismiss)="isOpen = false"
    showBackdrop="false"
    style="z-index: 9999999"
  >
    <ng-template>
      <ion-label
        class="ion-padding tooltip--label"
        [innerHTML]="value"
      ></ion-label>
    </ng-template>
  </ion-popover> -->
</ng-container>
