# Build/Deployment Configuration variables:
# See: <https://www.npmjs.com/package/dotenv>
#
# Build/run without debugging-code in production-mode
NG_PRODUCTION=true

# `NG_API_URL` can be left blank to use local predefined mock-data
NG_API_URL=

# Enable caching & offline support using a Service-Worker in production-mode:
NG_USE_SERVICE_WORKER=

# Geoserver WMS end-point
NG_GEOSERVER_URL=
