<ion-card class="popover-window-card">
  <ion-card-header color="ibf-primary">
    <ion-icon
      name="close-circle"
      size="large"
      (click)="closePopover()"
      class="popover-close-button"
    ></ion-icon>
    @if (popoverStep === 'select-areas') {
      <ion-card-title>{{
        'set-trigger-component.select-areas.header' | translate
      }}</ion-card-title>
    } @else if (popoverStep === 'confirm') {
      <ion-card-title>{{
        'set-trigger-component.confirm.header' | translate
      }}</ion-card-title>
    }
  </ion-card-header>
  <ion-card-content class="ion-padding-top ion-text-center">
    @if (popoverStep === 'select-areas') {
      <ion-item lines="none">
        <span
          [innerHTML]="
            'set-trigger-component.select-areas.content'
              | translate
                : {
                    eventName: eventName,
                    forecastSourceLabel: forecastSource?.label || 'Unknown',
                    forecastSourceUrl: forecastSource?.url || '#',
                    adminAreaLabelPlural: adminAreaLabelPlural,
                  }
          "
        >
        </span>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          {{
            'set-trigger-component.select-areas.select-areas'
              | translate: { adminAreaLabelPlural }
          }}
        </ion-label>
      </ion-item>
      <ion-list class="background-light ion-no-padding">
        @for (area of areas; track area) {
          <ion-item lines="none">
            <ion-checkbox
              slot="start"
              color="ibf-primary"
              [(ngModel)]="selectedAreas[area.name]"
              name="selectedAreas[{{ area.name }}]"
            ></ion-checkbox>
            <ion-label class="ion-text-wrap"
              >{{ area.name }}
              @if (area.mainExposureValue && area.mainExposureValue > 0) {
                {{ ' - ' }}
                <span>{{
                  area.mainExposureValue
                    | compact: mainExposureIndicatorNumberFormat
                }}</span>
              }
            </ion-label>
          </ion-item>
        }
      </ion-list>
    } @else if (popoverStep === 'confirm') {
      <ion-item
        lines="none"
        class="font-bold"
        [innerHTML]="'set-trigger-component.confirm.note' | translate"
      >
      </ion-item>
      <ion-item
        lines="none"
        class="ion-margin-bottom bullet-list"
        [innerHTML]="
          'set-trigger-component.confirm.bullet-list'
            | translate: { adminAreaLabelPlural }
        "
      >
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox
          slot="start"
          color="ibf-primary"
          [(ngModel)]="understood"
          name="understood"
        ></ion-checkbox>
        <ion-label class="ion-text-wrap"
          >{{ 'set-trigger-component.confirm.understand' | translate }}
        </ion-label>
      </ion-item>
    }
    <ion-item lines="none" class="ion-margin-top">
      <ion-label>
        {{ getCheckedCount() }}
        {{
          'set-trigger-component.select-areas.checked-count'
            | translate: { adminAreaLabelPlural }
        }}
      </ion-label>
      <div class="space-x-2">
        <ion-button
          size="default"
          fill="clear"
          shape="round"
          color="dark"
          (click)="
            popoverStep === 'select-areas'
              ? closePopover()
              : backToSelectAreasStep()
          "
        >
          @if (popoverStep === 'select-areas') {
            {{ 'set-trigger-component.select-areas.back' | translate }}
          } @else if (popoverStep === 'confirm') {
            {{ 'set-trigger-component.confirm.back' | translate }}
          }
        </ion-button>
        <ion-button
          size="default"
          fill="solid"
          shape="round"
          color="ibf-trigger-alert-primary"
          [disabled]="
            popoverStep === 'select-areas'
              ? isContinueDisabled()
              : isSubmitDisabled()
          "
          (click)="
            popoverStep === 'select-areas'
              ? continueToConfirmStep()
              : submitSetTriggerAreas()
          "
        >
          @if (popoverStep === 'select-areas') {
            {{ 'set-trigger-component.select-areas.continue' | translate }}
          } @else if (popoverStep === 'confirm') {
            {{ 'set-trigger-component.confirm.continue' | translate }}
          }
        </ion-button>
      </div>
    </ion-item>
  </ion-card-content>
</ion-card>
