<ion-card class="popover-window-card">
  <ion-card-header color="ibf-primary">
    <ion-icon
      name="close-circle"
      size="large"
      (click)="closePopover()"
      class="popover-close-button"
    ></ion-icon>
    <ion-card-title class="font-[Montserrat] font-semibold">
      <div class="inline-block align-middle">
        <ion-icon name="warning"></ion-icon>
      </div>
      @if (!hasSetTriggerPermission) {
        {{ 'set-trigger-component.no-access.header' | translate }}
      } @else if (popoverStep === 'select-areas') {
        {{ 'set-trigger-component.select-areas.header' | translate }}
      } @else {
        {{ 'set-trigger-component.confirm.header' | translate }}
      }
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding-top ion-text-center">
    @if (!hasSetTriggerPermission) {
      <ion-item lines="none">
        <span
          [innerHTML]="
            'set-trigger-component.no-access.content'
              | translate: { supportEmailAddress }
          "
        >
        </span>
      </ion-item>
      <br />
      <ion-item lines="none">
        <span [innerHTML]="'set-trigger-component.no-access.about' | translate">
        </span>
      </ion-item>
      <ion-item lines="none">
        @if (forecastSource?.setTriggerSource) {
          <span
            [innerHTML]="
              'set-trigger-component.select-areas.content'
                | translate
                  : {
                      setTriggerSource: forecastSource?.setTriggerSource,
                      adminAreaLabelPlural,
                      eapLink,
                    }
            "
          >
          </span>
        } @else {
          <span
            [innerHTML]="
              'set-trigger-component.select-areas.content-no-source'
                | translate
                  : {
                      adminAreaLabelPlural,
                      eapLink,
                    }
            "
          >
          </span>
        }
      </ion-item>
      <ion-item lines="none">
        <span
          [innerHTML]="
            'set-trigger-component.no-access.please-note' | translate
          "
        >
        </span>
      </ion-item>
      <ion-item lines="none">
        <span
          class="bullet-list"
          [innerHTML]="
            'set-trigger-component.confirm.bullet-list'
              | translate: { adminAreaLabelPlural }
          "
        >
        </span>
      </ion-item>
      <br />
    } @else if (popoverStep === 'select-areas') {
      <ion-item lines="none">
        @if (forecastSource?.setTriggerSource) {
          <span
            [innerHTML]="
              'set-trigger-component.select-areas.content'
                | translate
                  : {
                      setTriggerSource: forecastSource?.setTriggerSource,
                      adminAreaLabelPlural,
                      eapLink,
                    }
            "
          >
          </span>
        } @else {
          <span
            [innerHTML]="
              'set-trigger-component.select-areas.content-no-source'
                | translate
                  : {
                      adminAreaLabelPlural,
                      eapLink,
                    }
            "
          >
          </span>
        }
      </ion-item>
      <ion-item lines="none">
        <ion-label class="mb-0 font-[Montserrat] font-semibold">
          {{
            'set-trigger-component.select-areas.select-areas'
              | translate: { adminAreaLabelPlural }
          }}
        </ion-label>
      </ion-item>
      <ion-list class="background-light ion-no-padding">
        @for (area of areas; track area) {
          <ion-item lines="none" class="area-item">
            <ion-checkbox
              slot="start"
              color="ibf-primary"
              [(ngModel)]="selectedAreas[area.name]"
              name="selectedAreas[{{ area.name }}]"
              class="m-2"
            ></ion-checkbox>
            <ion-label class="ion-text-wrap m-0"
              >{{ area.name }}
              @if (area.mainExposureValue && area.mainExposureValue > 0) {
                {{ ' - ' }}
                <span>{{
                  area.mainExposureValue
                    | compact: mainExposureIndicatorNumberFormat
                }}</span>
              }
            </ion-label>
          </ion-item>
        }
      </ion-list>
    } @else if (popoverStep === 'confirm') {
      <ion-item
        lines="none"
        class="font-[Montserrat] font-semibold"
        [innerHTML]="'set-trigger-component.confirm.note' | translate"
      >
      </ion-item>
      <ion-item
        lines="none"
        class="ion-margin-bottom bullet-list"
        [innerHTML]="
          'set-trigger-component.confirm.bullet-list'
            | translate: { adminAreaLabelPlural }
        "
      >
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox
          slot="start"
          color="ibf-primary"
          [(ngModel)]="understood"
          name="understood"
          class="mr-2"
        ></ion-checkbox>
        <ion-label class="ion-text-wrap"
          >{{ 'set-trigger-component.confirm.understand' | translate }}
        </ion-label>
      </ion-item>
    }

    @if (hasSetTriggerPermission) {
      <ion-item lines="none" class="ion-margin-top">
        <ion-label>
          {{ getCheckedCount() }}
          {{
            'set-trigger-component.select-areas.checked-count'
              | translate: { adminAreaLabelPlural }
          }}
        </ion-label>
        <div class="space-x-2">
          <ion-button
            size="default"
            fill="clear"
            shape="round"
            color="dark"
            (click)="
              popoverStep === 'select-areas'
                ? closePopover()
                : backToSelectAreasStep()
            "
          >
            @if (popoverStep === 'select-areas') {
              {{ 'set-trigger-component.select-areas.back' | translate }}
            } @else if (popoverStep === 'confirm') {
              {{ 'set-trigger-component.confirm.back' | translate }}
            }
          </ion-button>
          <ion-button
            size="default"
            fill="solid"
            shape="round"
            color="ibf-trigger-alert-primary"
            [disabled]="
              popoverStep === 'select-areas'
                ? isContinueDisabled()
                : isSubmitDisabled()
            "
            (click)="
              popoverStep === 'select-areas'
                ? continueToConfirmStep()
                : submitSetTriggerAreas()
            "
          >
            @if (popoverStep === 'select-areas') {
              {{ 'set-trigger-component.select-areas.continue' | translate }}
            } @else if (popoverStep === 'confirm') {
              {{ 'set-trigger-component.confirm.continue' | translate }}
            }
          </ion-button>
        </div>
      </ion-item>
    }
  </ion-card-content>
</ion-card>
