<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/" title="Home">
        <ion-icon name="apps" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-user-state></app-user-state>
    <ion-row slot="end">
      <ion-col size="auto">
        <app-logos></app-logos>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="page-structure">
    <ion-row>
      <ion-col>
        <app-timeline></app-timeline>
      </ion-col>
    </ion-row>
    <ion-row class="page-structure--content">
      <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeXl="6">
        <ion-row class="component-title">
          <ion-img
            src="assets/icons/alert-black.svg"
            style="width: 2rem; padding: 2px;"
          ></ion-img>
          <ion-label>
            <strong>Situational Overview</strong>
          </ion-label>
        </ion-row>
        <ion-row style="height: calc(100% - 2rem);">
          <ion-col
            sizeXs="12"
            sizeMd="6"
            sizeLg="6"
            sizeXl="6"
            class="ion-no-padding"
            style="background-color: #cad0e9;"
          >
            <app-chat></app-chat>
          </ion-col>
          <ion-col
            sizeXs="12"
            sizeMd="6"
            sizeLg="6"
            sizeXl="6"
            style="background-color: #c2c3c3;"
          >
            <app-aggregates></app-aggregates>
            <br />
            <app-aof-summary
              style="position: absolute; bottom: 0; width: calc(100% - 10px);"
            ></app-aof-summary>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col
        sizeXs="12"
        sizeMd="6"
        sizeLg="6"
        sizeXl="6"
        class="ion-no-padding"
      >
        <app-map></app-map>
        <app-matrix></app-matrix>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
