<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/" title="Home">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Overview
    </ion-title>
    <ion-row slot="end">
      <ion-col>
        [UserState]
      </ion-col>
      <ion-col size="auto">
        [Logo]
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="page-structure">
    <ion-row>
      <ion-col class="debug-container ion-padding">
        <app-timeline></app-timeline>
      </ion-col>
    </ion-row>
    <ion-row class="page-structure--content">
      <ion-col
        sizeXs="12"
        sizeMd="1"
        sizeLg="1"
        sizeXl="2"
        class="debug-container debug-placeholder"
        style="background-color: #cad0e9;"
      >
        <ion-note>[ Chat ]</ion-note>
      </ion-col>
      <ion-col
        sizeXs="12"
        sizeMd="4"
        sizeLg="4"
        sizeXl="3"
        class="debug-container"
        style="background-color: #c2c3c3;"
      >
        <app-matrix></app-matrix>
      </ion-col>
      <ion-col
        sizeXs="12"
        sizeMd="7"
        sizeLg="7"
        sizeXl="7"
        class="debug-container"
      >
        <app-map></app-map>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
