<div>
  <ion-grid class="ion-no-padding">
    <ion-row class="aggregates-row ion-no-padding">
      <ion-col size-lg="9" size-md="9" size-xs="9" class="aggregates-col-text">
        <ion-thumbnail class="aggregate-icon">
          <ion-img
            class="ion-align-self-end ion-no-margin"
            src="assets/icons/Affected-population-white.svg"
          >
          </ion-img>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap aggregate-label">
          <p>Total Exposed Population</p>
        </ion-label>
      </ion-col>
      <ion-col
        size-lg="3"
        size-md="3"
        size-xs="3"
        class="aggregates-col-number"
      >
        <ion-label>
          <p>
            {{ aggregatesService.getPopulationExposed() | number: '1.0-0' }}
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
