<div>
  <ion-grid class="ion-no-padding">
    <ion-row
      *ngFor="let indicator of indicators"
      class="aggregates-row ion-no-padding"
    >
      <ion-col
        size-lg="9"
        size-md="9"
        size-xs="9"
        class="aggregates-col-text"
        (click)="changeIndicator(indicator.name)"
        title="Click to visualize in map"
      >
        <ion-thumbnail class="aggregate-icon">
          <img
            src="assets/icons/{{ indicator.name }}-white.svg"
            class="indicator-icon"
          />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap aggregate-label">
          <p *ngIf="indicator.active">
            <strong>{{ indicator.label }}</strong>
          </p>
          <p *ngIf="!indicator.active">{{ indicator.label }}</p>
        </ion-label>
      </ion-col>
      <ion-col
        size-lg="3"
        size-md="3"
        size-xs="3"
        class="aggregates-col-number"
      >
        <ion-label>
          <p>
            {{
              aggregatesService.getAggregate(indicator.name) | number: '1.0-0'
            }}
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
