<div>
  <ion-grid class="ion-no-padding">
    <ion-row class="aggregates-row">
      <ion-col size-lg="1" size-md="2" size-xs="2" class="aggregates-col-icon">
        <ion-thumbnail>
          <ion-img
            class="ion-align-self-end"
            src="assets/icons/Affected-population-white.svg"
          >
          </ion-img>
        </ion-thumbnail>
      </ion-col>
      <ion-col size-lg="8" size-md="7" size-xs="7" class="aggregates-col-text">
        <ion-label class="ion-text-wrap">
          <p>Total Exposed Population</p>
        </ion-label>
      </ion-col>
      <ion-col
        size-lg="3"
        size-md="3"
        size-xs="3"
        class="aggregates-col-number"
      >
        <ion-label class="ion-align-self-end">
          <p>
            {{ aggregatesService.getPopulationExposed() | number: '1.0-0' }}
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
