<span class="ion-float-start">
  <ion-title class="center-heading" size="medium" data-test="heading-display-name-label"
    >
    <span>
      IBF PORTAL <strong>{{ country?.countryName }} {{ disasterType }}</strong>
    </span>
    </ion-title
  > 
</span>

<ion-button
  class="ion-float-end"
  type="button"
  [title]="'Log Out'"
  [attr.aria-label]="'Log Out'"
  size="small"
  fill="solid"
  color="ibf-primary"
  (click)="doLogout()"
  data-test="logout-button"
>
  <span class="ion-hide-sm-down">Log Out</span>
  <ion-icon name="log-out" slot="end"></ion-icon>
</ion-button>
