<span class="ion-float-start">
  <ion-title
    class="center-heading"
    size="medium"
    data-test="heading-display-name-label"
  >
    <span>
      IBF PORTAL <strong>{{ countryName }} </strong>
      <strong [ngClass]="{ active: activeTriggerMsg === 'TRIGGERED' }">
        {{ disasterType }} {{ activeTriggerMsg }}
      </strong>
      <ion-icon
        *ngIf="activeTriggerMsg === 'TRIGGERED'"
        class="ibf"
        src="/assets/icons/Alert_Title_Purple.svg"
        slot="start"
        class="containerTwo"
      ></ion-icon>
    </span>
  </ion-title>
</span>
<span class="ion-float-end" *ngIf="isLoggedIn">
  <ion-title size="small" data-test="user-display-name-label"
    >Logged In As:</ion-title
  >
  <ion-title size="small" data-test="user-display-name">
    <strong>{{ authService.displayName }}</strong>
  </ion-title>
</span>

<ion-button
  *ngIf="isLoggedIn"
  class="ion-float-end"
  type="button"
  [title]="'Log Out'"
  [attr.aria-label]="'Log Out'"
  size="small"
  fill="solid"
  color="ibf-primary"
  (click)="doLogout()"
  data-test="logout-button"
>
  <span class="ion-hide-sm-down">Log Out</span>
  <ion-icon name="log-out" slot="end"></ion-icon>
</ion-button>
