<ion-grid>
  <ion-row class="ion-justify-content-between ion-align-items-center">
    <div>
      <ion-title
        class="uppercase-text"
        size="medium"
        data-test="heading-display-name-label"
      >
        <span>
          IBF PORTAL
          @if (isLoggedIn) {
            <strong [ngClass]="{ active: disasterType?.activeTrigger }">
              {{ countryName }}
              {{ disasterType?.disasterType }} {{ activeTriggerMsg }}
            </strong>
          } @else {
            <strong>
              {{ showEnvironmentLabel(environmentConfiguration) }}
            </strong>
          }
          @if (isLoggedIn && disasterType?.activeTrigger) {
            <ion-icon
              class="ibf"
              src="/assets/icons/Alert_Title_Purple.svg"
              slot="start"
            ></ion-icon>
          }
        </span>
      </ion-title>
    </div>
    <div class="ion-align-items-center">
      <ion-row class="ion-align-items-center">
        <app-logos></app-logos>
        <ion-item lines="none">
          <ion-col class="ion-no-padding">
            @if (isLoggedIn) {
              <ion-title
                size="small"
                data-test="user-display-name-label"
                class="ion-no-padding"
                >Logged In As:</ion-title
              >
              <ion-title
                size="small"
                data-test="user-display-name"
                class="ion-no-padding"
              >
                <strong
                  (click)="presentPopover()"
                  style="cursor: pointer; text-decoration: underline"
                  >{{ authService.displayName }}</strong
                >
              </ion-title>
            }
          </ion-col>
        </ion-item>
        @if (isLoggedIn) {
          <app-ibf-button
            [title]="'Log Out'"
            [attr.aria-label]="'Log Out'"
            size="small"
            backgroundColor="ibf-primary"
            (click)="doLogout()"
            data-test="logout-button"
          >
            <span class="ion-hide-sm-down">Log Out</span>
            <ion-icon name="log-out" slot="end"></ion-icon>
          </app-ibf-button>
        }
      </ion-row>
    </div>
  </ion-row>
</ion-grid>
