ion-label[position='stacked'] {
  --color: var(--ion-color-ibf-no-alert-primary);
}

ion-button {
  --background: var(--ion-color-ibf-no-alert-primary);
}

.validation-message {
  min-height: 36px;
}

.change-password-form {
  width: 100%;
}
