<ion-card class="popover-window-card">
  <ion-card-header color="ibf-primary">
    <ion-icon
      name="close-circle"
      size="large"
      (click)="closePopover()"
      class="popover-close-button"
    ></ion-icon>
    <ion-card-title>Change Password</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding-top ion-text-center">
    <!-- <ion-item lines="none"> -->
    <form
      #changePasswordForm="ngForm"
      (ngSubmit)="onSubmit()"
      class="change-password-form"
    >
      <ion-item>
        <ion-label position="stacked">New Password</ion-label>
        <ion-input
          [(ngModel)]="model.newPassword"
          name="new-password"
          type="password"
          required
          autocomplete="new-password"
          minlength="4"
          clearInput="true"
          clearOnEdit="false"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}"
          (ionChange)="onChange()"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input
          [(ngModel)]="model.confirmPassword"
          name="confirm-password"
          type="password"
          required
          autocomplete="new-password"
          minlength="4"
          clearInput="true"
          clearOnEdit="false"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}"
          (ionChange)="onChange()"
        ></ion-input>
      </ion-item>
      <div class="validation-message ion-margin-top">
        <ion-note color="danger" *ngIf="showDifferentPasswordMessage">
          <small>
            <strong>Passwords do not match.</strong>
          </small>
        </ion-note>
      </div>
      <ion-button
        buttonType="button"
        type="submit"
        class="login-button"
        expand="block"
        [disabled]="!changePasswordForm.form.valid"
      >
        Change Password
        <ion-icon slot="end" name="sync"></ion-icon>
      </ion-button>
    </form>
    <!-- </ion-item> -->
  </ion-card-content>
</ion-card>
