<div
  class="dialogue-turn ion-align-items-start"
  [ngClass]="{
    'is-connected': isConnected,
    'is-other ion-justify-content-start': !isSelf,
    'is-self ion-justify-content-end': isSelf,
    'is-pending': animate && !isSpoken,
    'is-spoken': animate && isSpoken
  }"
>
  <div class="dialogue-turn--actor">
    <ng-container [ngSwitch]="actor">
      <ng-container *ngSwitchCase="allActors.system">
        <ion-avatar style="color: black; background: white; display: flex;">
          <b style="margin: auto; text-align: center;">IBF</b>
        </ion-avatar>
      </ng-container>
      <ng-container *ngSwitchCase="allActors.self">
        <ion-avatar style="background: var(--ion-color-medium); display: flex;">
          <ion-icon
            name="person"
            color="light"
            size="large"
            style="margin: auto;"
          ></ion-icon>
        </ion-avatar>
      </ng-container>
    </ng-container>
  </div>
  <div class="dialogue-turn--content">
    <ion-card [color]="isSelf ? 'light' : 'ibf-salmon'">
      <ion-card-content>
        <ng-content></ng-content>

        <ion-note class="ion-float-end ion-text-end">
          <small
            >{{ moment | date: 'EEEE, d LLL' }} -
            <strong>{{ moment | date: 'HH:mm' }}</strong></small
          >
        </ion-note>
      </ion-card-content>
    </ion-card>

    <span class="dialogue-turn--speech-arrow"></span>
  </div>
</div>
