<div
  [class]="'rounded-t-lg p-2 text-white ' + layerName"
  [style]="glofasHeaderStyle"
>
  <strong>{{ title }}</strong>
</div>
<div class="p-2" [class.rounded-b-lg]="!footerContent">
  @switch (layerName) {
    @case (ibfLayerName.gauges) {
      <app-river-gauge-popup-content
        [data]="riverGauge"
      ></app-river-gauge-popup-content>
    }
    @case (ibfLayerName.typhoonTrack) {
      <app-typhoon-trackpoint-popup-content
        [data]="typhoonData"
      ></app-typhoon-trackpoint-popup-content>
    }
    @case (ibfLayerName.glofasStations) {
      <app-glofas-station-popup-content
        [data]="glofasData"
      ></app-glofas-station-popup-content>
    }
  }
</div>
@if (footerContent) {
  <div
    class="rounded-b-lg border-t px-2 py-1 text-center font-semibold"
    [style]="glofasFooterStyle"
  >
    {{ footerContent }}
  </div>
}
