<div
  class="leaflet--dynamic-point-popup--header"
  [ngClass]="layerName"
  [style]="glofasHeaderStyle"
>
  <strong>{{ title }}</strong>
</div>
<div class="leaflet--dynamic-point-popup--content">
  <ng-container [ngSwitch]="layerName">
    <app-river-gauge-popup-content
      *ngSwitchCase="ibfLayerName.gauges"
      [data]="riverGauge"
    ></app-river-gauge-popup-content>
    <app-typhoon-trackpoint-popup-content
      *ngSwitchCase="ibfLayerName.typhoonTrack"
      [data]="typhoonData"
    ></app-typhoon-trackpoint-popup-content>
    <app-glofas-station-popup-content
      *ngSwitchCase="ibfLayerName.glofasStations"
      [data]="glofasData"
    ></app-glofas-station-popup-content>
  </ng-container>
</div>
<div class="leaflet--dynamic-point-popup--footer" [style]="glofasFooterStyle">
  <div>
    <strong>{{ footerContent }}</strong>
  </div>
</div>
