<div [ngClass]="headerClass">
  <strong>{{ title }}</strong>
</div>
<div class="p-2" [class.rounded-b-lg]="!footer">
  @switch (layerName) {
    @case (ibfLayerName.gauges) {
      <app-river-gauge-popup-content
        [data]="riverGauge"
      ></app-river-gauge-popup-content>
    }
    @case (ibfLayerName.typhoonTrack) {
      <app-typhoon-trackpoint-popup-content
        [data]="typhoonData"
      ></app-typhoon-trackpoint-popup-content>
    }
    @case (ibfLayerName.glofasStations) {
      <app-glofas-station-popup-content
        [data]="glofasData"
      ></app-glofas-station-popup-content>
    }
  }
</div>
@if (footer) {
  <div [ngClass]="footerClass">
    {{ footer }}
  </div>
}
