<ion-card class="popover-window-card">
  <ion-card-header color="ibf-primary">
    <ion-card-title>{{
      'dashboard-page.screen-orientation.' + device + '.title' | translate
    }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding-top ion-text-center">
    <ion-item lines="none">
      <ion-col>
        <ion-label class="ion-margin-bottom ion-text-wrap">
          <strong>{{
            'dashboard-page.screen-orientation.' + device + '.warning-message'
              | translate
          }}</strong>
        </ion-label>
        <ion-label class="ion-text-wrap">
          {{
            'dashboard-page.screen-orientation.' +
              device +
              '.instructions-message' | translate
          }}
        </ion-label>
      </ion-col>
    </ion-item>
    <ion-item lines="none" style="width: 100%">
      <div style="width: 100%" class="ion-text-end">
        <ion-button
          fill="clear"
          style="text-transform: uppercase"
          (click)="closePopover()"
        >
          {{
            'chat-component.common.save-actions.prompt-button-label' | translate
          }}
        </ion-button>
      </div>
    </ion-item>
  </ion-card-content>
</ion-card>
