ion-item {
  --inner-padding-end: 0;
  --height: 40px;
  --min-height: 40px;
}

ion-button {
  height: 100% !important;
  text-align: left;
  --box-shadow: none;

  &.active {
    font-weight: bold;
    border: 2px solid var(--ion-color-ibf-primary);
    border-width: 2px;
  }

  &.alert {
    border: 1px solid var(--ion-color-ibf-outline-red) !important;
    border-width: 2px;
    --ion-color-contrast: var(--ion-color-ibf-trigger-alert-primary);
  }

  &.alert.active {
    border: 2px solid var(--ion-color-ibf-outline-red) !important;
    border-width: 2px;
    --ion-color-contrast: var(--ion-color-ibf-trigger-alert-primary);
  }

  &.active.noEvent {
    border: none;
    font-weight: 500;
  }
}
