ion-item {
  --inner-padding-end: 0;
}

ion-button {
  height: 100%;
  width: 70px;

  &:first-child {
    width: 110px;
    font-size: 16px;
  }

  &.active {
    font-weight: bold;
    border: solid;
    border-color: var(--ion-color-ibf-black);
    border-width: 2px;
  }
}
