ion-item {
  --inner-padding-end: 0;
  --height: 40px;
  --min-height: 40px;
}

ion-button {
  height: 100% !important;
  width: 90px;
  text-transform: uppercase;
  --box-shadow: none;

  &.active {
    font-weight: bold;
    border: 2px solid red;
    border-width: 2px;
  }

  &.nonactive {
    font-weight: bold;
    border-bottom: 2px solid rgb(196, 17, 17);
    border-width: 2px;
  }
}
