<ion-item lines="none" class="ion-no-padding">
  <ion-progress-bar
    type="indeterminate"
    color="ibf-gray"
    class="ion-margin"
    *ngIf="timelineState.timeStepButtons.length < 1"
  ></ion-progress-bar>
  <ion-button
    *ngFor="let timeStepButton of timelineState.timeStepButtons"
    expand="full"
    disabled="{{ timeStepButton.disabled }}"
    color="{{
      timeStepButton.alert
        ? 'ibf-trigger-alert-tertiary'
        : 'ibf-no-alert-tertiary'
    }}"
    fill="solid"
    data-test="time-line-button"
    [class.active]="timeStepButton.active"
    [class.alert]="timeStepButton.alert && !timeStepButton?.disabled"
    (click)="handleTimeStepButtonClick(timeStepButton.value)"
  >
    <app-date-button
      [date]="timeStepButton.date"
      [unit]="timeStepButton.unit"
      [active]="!timeStepButton.disabled"
    ></app-date-button>
  </ion-button>
</ion-item>
