ion-item {
  --inner-padding-end: 0;
}

ion-button {
  height: 100% !important;
  width: 70px;

  &.active {
    font-weight: bold;
    border: solid;
    border-color: var(--ion-color-ibf-black);
    border-width: 2px;
  }
}
