# Build Configuration/secrets:
.env
environment.prod.ts

# Default ignore-rules set by Ionic/Angular:
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/coverage
/dist
/node_modules
/platforms
/plugins
/www

# Assets generated/included during build
src/assets/leaflet
