<ion-card data-test="export-view-popover" class="popover-window-card">
  <ion-card-header color="ibf-primary">
    <ion-icon
      data-testid="export-view-close-button"
      name="close-circle"
      size="large"
      (click)="closePopover()"
      class="popover-close-button"
    ></ion-icon>
    <ion-card-title data-testid="export-view-title">
      {{ 'export-view.title' | translate }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding-top">
    <div class="ion-margin-bottom">
      {{ 'export-view.instruction' | translate }}
    </div>
    <ion-text
      data-testid="export-view-windows-os"
      [class.ion-hide]="getOperatingSystem() !== 'Windows'"
    >
      <a
        href="https://support.microsoft.com/en-us/windows/open-snipping-tool-and-take-a-screenshot-a35ac9ff-4a58-24c9-3253-f12bac9f9d44"
        [title]="'export-view.instruction-windows' | translate"
        target="_blank"
        rel="noopener"
        class="no-underline hover:underline"
      >
        {{ 'export-view.instruction-windows' | translate }}
      </a>
    </ion-text>
    <ion-text
      data-testid="export-view-mac-os"
      [class.ion-hide]="getOperatingSystem() !== 'MacOS'"
    >
      <a
        href="https://support.apple.com/en-us/HT201361"
        title="'export-view.instruction-mac' | translate"
        target="_blank"
        rel="noopener"
        class="no-underline hover:underline"
      >
        {{ 'export-view.instruction-mac' | translate }}
      </a>
    </ion-text>
    <ion-text
      data-testid="export-view-linux-os"
      [class.ion-hide]="getOperatingSystem() !== 'Linux'"
    >
      <a
        href="https://help.ubuntu.com/stable/ubuntu-help/screen-shot-record.html"
        title="'export-view.instruction-linux' | translate"
        target="_blank"
        rel="noopener"
        class="no-underline hover:underline"
      >
        {{ 'export-view.instruction-linux' | translate }}
      </a>
    </ion-text>
  </ion-card-content>
</ion-card>
