#table-header {
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 1;
  background-color: #fff;
  width: fit-content;
  .table-row {
    border-top: 1px solid var(--ion-color-ibf-grey);
  }
}

#table-body {
  width: fit-content;
}

.table-row {
  height: inherit;
  border-right: 1px solid var(--ion-color-ibf-grey);
}

.table-cell {
  padding: 8px;
  border-left: 1px solid var(--ion-color-ibf-grey);
  border-bottom: 1px solid var(--ion-color-ibf-grey);
  text-align: left;
  word-break: break-all;
  font-size: 10px;
  width: 7vw;
}

.explanation {
  font-size: 14px;
}
