<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button title="Home">
        <ion-icon name="apps" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-user-state [isLoggedIn]="true"></app-user-state>
  </ion-toolbar>
  <app-disclaimer-toolbar></app-disclaimer-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ng-container *ngIf="activationLogs">
    <div
      *ngIf="activationLogs['headerData']"
      id="table-header"
      class="ion-no-padding"
    >
      <ion-row *ngIf="activationLogs['headerData']">
        <ion-col class="explanation" size="9">
          <h4>{{ 'activation-page.page-title' | translate }}</h4>
          <p>{{ 'activation-page.page-explanation' | translate }}</p>
          <p>{{ 'activation-page.copy-instructions' | translate }}</p>
        </ion-col>
        <ion-col class="ion-text-right" size="3">
          <ion-button
            size="small"
            color="ibf-primary"
            class="ion-margin-vertical"
            (click)="copyToClipboard()"
          >
            {{ 'activation-page.copy-to-clipboard' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="table-row">
        <ion-col
          *ngFor="let header of activationLogs['headerData']"
          class="table-cell"
        >
          <ion-text
            ><strong>{{ header }}</strong></ion-text
          >
        </ion-col>
      </ion-row>
    </div>
    <div
      *ngIf="activationLogs['rowsData']"
      id="table-body"
      class="ion-margin-bottom"
    >
      <ion-row *ngFor="let row of activationLogs['rowsData']" class="table-row">
        <ion-col class="table-cell table-body-cell" *ngFor="let data of row">
          <ion-text>{{ data }}</ion-text>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
</ion-content>
