<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button title="Home" [routerLink]="['/']">
        <ion-icon name="apps" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-user-state
      [isLoggedIn]="true"
      [showCountry]="!!countryCodeISO3"
    ></app-user-state>
  </ion-toolbar>
  <app-disclaimer-toolbar></app-disclaimer-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  @if (activationLogs) {
    @if (activationLogs['headerData']) {
      <div id="table-header" class="ion-no-padding">
        <ion-row>
          <ion-col class="explanation" size="9">
            <h4>
              {{ 'activation-page.' + getEapKey() + '.page-title' | translate }}
            </h4>
            <p>
              {{
                'activation-page.' + getEapKey() + '.page-explanation'
                  | translate
              }}
            </p>
            <p>
              {{
                'activation-page.' + getEapKey() + '.copy-instructions'
                  | translate
              }}
            </p>
          </ion-col>
          <ion-col size="3">
            <ion-row class="ion-justify-content-end">
              <app-ibf-button
                size="small"
                backgroundColor="ibf-primary"
                class="ion-margin-vertical"
                width="180px"
                (click)="copyToClipboard()"
              >
                {{ 'activation-page.copy-to-clipboard' | translate }}
              </app-ibf-button>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="table-row">
          @for (header of activationLogs['headerData']; track header) {
            <ion-col class="table-cell">
              <ion-text
                ><strong>{{ header }}</strong></ion-text
              >
            </ion-col>
          }
        </ion-row>
      </div>
    }
    @if (activationLogs['rowsData']) {
      <div id="table-body" class="ion-margin-bottom">
        @for (row of activationLogs['rowsData']; track row) {
          <ion-row class="table-row">
            @for (data of row; track data) {
              <ion-col class="table-body-cell table-cell">
                <ion-text>{{ data }}</ion-text>
              </ion-col>
            }
          </ion-row>
        }
      </div>
    }
  }
</ion-content>
