<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="login-form">
  <input
    type="submit"
    hidden
    [disabled]="!loginForm.form.valid"
  /><!-- Include hidden submit-button to enable "enter"-key to trigger ngSubmit -->

  <ion-item>
    <ion-label position="stacked">E-mail</ion-label>
    <ion-input
      [ngModel]="model.email"
      (ngModelChange)="model.email = $event"
      name="email"
      type="email"
      required
      inputmode="email"
      pattern=".+@.+\.[a-z]+"
      autocomplete="email username"
      clearInput="true"
      data-test="input-user"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <div style="display: flex; width: 100%" class="ion-align-items-center">
      <ion-input
        [ngModel]="model.password"
        (ngModelChange)="model.password = $event"
        name="password"
        [type]="inputType"
        required
        autocomplete="current-password"
        minlength="4"
        clearInput="true"
        clearOnEdit="false"
        data-test="input-password"
      ></ion-input>
      <ion-button
        type="button"
        fill="clear"
        size="small"
        class="eye-button"
        (click)="toggleInputType()"
        [title]="isPassword() ? this.labelShow : this.labelHide"
        [attr.aria-label]="isPassword() ? this.labelShow : this.labelHide"
      >
        <ion-icon
          *ngIf="isPassword()"
          slot="icon-only"
          name="eye"
          aria-hidden="true"
        ></ion-icon>
        <ion-icon
          *ngIf="!isPassword()"
          slot="icon-only"
          name="eye-off"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </div>
  </ion-item>

  <app-ibf-button
    type="submit"
    [disabled]="!loginForm.form.valid"
    data-test="login-button"
    backgroundColor="ibf-no-alert-primary"
    textColor="ibf-white"
  >
    Log In
    <ion-icon slot="end" name="enter"></ion-icon>
  </app-ibf-button>
  <div (click)="presentPopover()" class="ion-margin-vertical">
    <ion-text
      style="cursor: pointer; text-decoration: underline"
      color="ibf-no-alert-primary"
      >{{ 'login-page.forgot-password' | translate }}</ion-text
    >
  </div>
</form>
