ion-label[position='stacked'] {
  --color: var(--ion-color-ibf-no-alert-primary);
}

.login-button {
  --background: var(--ion-color-ibf-no-alert-primary);
}

.eye-button {
  --color: var(--ion-color-ibf-no-alert-primary);
}
