<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="login-form">
  <input
    type="submit"
    hidden
    [disabled]="!loginForm.form.valid"
  /><!-- Include hidden submit-button to enable "enter"-key to trigger ngSubmit -->

  <ion-item>
    <ion-label position="stacked">E-mail</ion-label>
    <!-- Email pattern retrieved from: https://emailregex.com/ -->
    <ion-input
      [(ngModel)]="model.email"
      name="email"
      type="email"
      required
      inputmode="email"
      pattern="(?:[A-Za-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&'*+/=?^_`{|}~-]+)*|&quot;(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*&quot;)@(?:(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[A-Za-z0-9-]*[A-Za-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
      autocomplete="email username"
      clearInput="true"
      data-test="input-user"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <div style="display: flex; width: 100%" class="ion-align-items-center">
      <ion-input
        [(ngModel)]="model.password"
        name="password"
        [type]="inputType"
        required
        autocomplete="current-password"
        minlength="4"
        clearInput="true"
        clearOnEdit="false"
        data-test="input-password"
      ></ion-input>
      <ion-button
        *ngIf="!disabled"
        type="button"
        fill="clear"
        size="small"
        class="eye-button"
        (click)="toggleInputType()"
        [title]="isPassword() ? this.labelShow : this.labelHide"
        [attr.aria-label]="isPassword() ? this.labelShow : this.labelHide"
      >
        <ion-icon
          *ngIf="isPassword()"
          slot="icon-only"
          name="eye"
          aria-hidden="true"
        ></ion-icon>
        <ion-icon
          *ngIf="!isPassword()"
          slot="icon-only"
          name="eye-off"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </div>
  </ion-item>

  <ion-button
    buttonType="button"
    type="submit"
    class="login-button"
    expand="block"
    [disabled]="!loginForm.form.valid"
    data-test="login-button"
  >
    Log In
    <ion-icon slot="end" name="enter"></ion-icon>
  </ion-button>
  <div (click)="presentPopover()" class="ion-margin-vertical">
    <ion-text
      style="cursor: pointer; text-decoration: underline"
      color="ibf-no-alert-primary"
      >{{ 'login-page.forgot-password' | translate }}</ion-text
    >
  </div>
</form>
