<ion-card class="popover-window-card">
  <ion-card-header color="ibf-primary">
    <ion-icon
      name="close-circle"
      size="large"
      (click)="closePopover()"
      class="popover-close-button"
    ></ion-icon>
    <ion-card-title>{{
      'chat-component.generic.' + stopNode + '.' + eapNode + '.header'
        | translate
    }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding-top ion-text-center">
    <ion-item lines="none" class="ion-margin-bottom">
      <span
        [innerHTML]="
          'chat-component.generic.' + stopNode + '.' + eapNode + '.message'
            | translate: { placeCodeName: placeCodeName }
        "
      >
      </span>
    </ion-item>
    <ion-item lines="none" style="width: 100%">
      <div style="width: 100%" class="ion-text-end">
        <ion-button
          fill="clear"
          style="text-transform: uppercase"
          (click)="confirm()"
          >{{
            'chat-component.generic.' + stopNode + '.' + eapNode + '.confirm'
              | translate
          }}</ion-button
        >
        <ion-button
          fill="clear"
          style="text-transform: uppercase"
          (click)="closePopover()"
        >
          {{
            'chat-component.generic.' + stopNode + '.' + eapNode + '.cancel'
              | translate
          }}
        </ion-button>
      </div>
    </ion-item>
  </ion-card-content>
</ion-card>
