.community-notification-title {
  margin-bottom: 5px;
  font-size: 17px;
}

.community-notification-info {
  margin-bottom: 5px;
  font-size: 14px;
  word-wrap: normal;
}

.community-notification-button {
  width: 100%;
  --box-shadow: none;
}
