<div style="margin-bottom: 5px; font-size: 14px">
  <strong>{{ 'map-popups.community-notification.title' | translate }}</strong>
</div>
<div
  [innerHTML]="
    'map-popups.community-notification.date'
      | translate: { formattedDate: formattedDate }
  "
></div>
<div
  [innerHTML]="
    'map-popups.community-notification.hazard-type'
      | translate: { type: markerProperties?.type }
  "
></div>
<div
  [innerHTML]="
    'map-popups.community-notification.village-name'
      | translate: { nameVillage: markerProperties?.nameVillage }
  "
></div>
<div
  [innerHTML]="
    'map-popups.community-notification.description'
      | translate: { description: markerProperties?.description }
  "
></div>
<div
  [innerHTML]="
    'map-popups.community-notification.volunteer'
      | translate: { nameVolunteer: markerProperties?.nameVolunteer }
  "
></div>
<ion-button
  *ngIf="markerProperties?.photoUrl"
  [disabled]="!markerProperties?.photoUrl"
  type="button"
  color="ibf-primary"
  shape="round"
  (click)="openPhotoPopup(markerProperties?.photoUrl)"
  >{{ 'map-popups.community-notification.photo' | translate }}
  <ion-icon slot="start" name="image"></ion-icon>
</ion-button>
<div>
  <strong>{{
    'map-popups.community-notification.no-photo' | translate
  }}</strong>
</div>
<ion-button
  type="button"
  color="ibf-primary"
  shape="round"
  fill="outline"
  (click)="dismissCommunityNotification(markerProperties?.pointDataId)"
  >{{ 'map-popups.community-notification.delete' | translate }}</ion-button
>
