<div style="margin-bottom: 5px; font-size: 14px">
  <strong>Community notification</strong>
</div>
<div><strong>Sent on:</strong> {{ formattedDate }}</div>
<div><strong>Type of hazard:</strong> {{ markerProperties?.type }}</div>
<div><strong>Name of village:</strong> {{ markerProperties?.nameVillage }}</div>
<div>
  <strong>What is observed:</strong> {{ markerProperties?.description }}
</div>
<div>
  <strong>Sent by (volunteer):</strong> {{ markerProperties?.nameVolunteer }}
</div>
<ion-button
  [disabled]="!markerProperties?.photoUrl"
  type="button"
  color="ibf-primary"
  shape="round"
  (click)="openImagePopup(markerProperties?.photoUrl)"
  >See attached photo
  <ion-icon slot="start" name="image"></ion-icon>
</ion-button>
<ion-button
  type="button"
  color="ibf-primary"
  shape="round"
  fill="outline"
  (click)="dismissCommunityNotification(markerProperties?.pointDataId)"
  >Dismiss notification</ion-button
>
