.component-title {
  .component-title-item {
    --inner-padding-end: 0;
    height: 48px;
  }
  .aggregate--title {
    width: 100%;
    display: contents;
  }
}

.place-code-reset-button {
  position: absolute;
  top: 0;
  right: 0;
}

.aggregate-item,
.aggregate-item-value,
.aggregate-item-information-icon {
  --min-height: 2rem;
  height: 2rem;
}

.aggregate-item {
  --inner-padding-end: 0;

  .aggregate-item-thumbnail {
    background: var(--ion-color-ibf-black);
    border: 0.2rem solid var(--ion-color-ibf-black);
    width: 2rem;
    height: 2rem;
    align-self: start;
    margin: 0px !important;

    ion-img {
      object-fit: contain;
    }
  }

  .aggregate-item-label {
    text-transform: capitalize;
    line-height: 1.2;
    font-size: 12px;
    margin: 0px !important;
    white-space: normal !important;
    padding: 0px 4px !important;
  }
}

.aggregate-item-value {
  --inner-padding-end: 20%;

  ion-label {
    margin: 0px !important;
    font-size: 12px;
    white-space: normal !important;
  }
}

.aggregate-item-value,
.aggregate-item-information-icon {
  ion-label {
    margin: 0px !important;
  }
}

.aggregate-item-information-icon {
  --inner-padding-end: 0.2rem;
  cursor: pointer;
}
