<div>
  <ion-grid class="ion-no-padding">
    <ion-row
      class="component-title"
      style="background: var(--ion-color-ibf-secondary)"
    >
      <ion-col
        class="ion-no-padding"
        size-xl="10"
        size-lg="9"
        size-md="12"
        size-sm="11"
        size-xs="11"
      >
        <ion-item
          lines="none"
          class="component-title-item"
          color="ibf-secondary"
        >
          <ion-col class="ion-no-padding ion-no-margin ion-align-items-center">
            <ion-label
              color="ibf-black"
              class="ion-text-wrap"
              data-testid="aggregates-header-label"
              ><ion-text
                ><strong>{{
                  getAggregatesHeader(mapView | async).headerLabel
                }}</strong></ion-text
              ></ion-label
            >
            <ion-label
              color="ibf-black"
              class="ion-text-wrap"
              data-testid="aggregates-sub-header-label"
              ><ion-text
                [innerHTML]="
                  getAggregatesHeader(mapView | async).subHeaderLabel
                "
              ></ion-text
            ></ion-label>
          </ion-col>
        </ion-item>
      </ion-col>
      @if (indicators.length) {
        <ion-col size-xl="2" size-lg="3" size-md="0" size-sm="1" size-xs="1">
          <ion-item
            class="aggregate-item-information-icon ion-no-padding m-0 cursor-pointer"
            data-testid="aggregates-header-info-icon"
            color="transparent"
            lines="none"
          >
            <app-disclaimer-approximate
              data-testid="aggregates-disclaimer"
            ></app-disclaimer-approximate>
          </ion-item>
        </ion-col>
      }
    </ion-row>
    <div data-testid="aggregate-list">
      @for (indicator of indicators; track indicator.name) {
        <ion-row data-testid="aggregates-row" class="ion-no-padding">
          <ion-col size-xl="6" size-lg="5" size-md="8" size-sm="9" size-xs="9">
            <ion-item
              class="aggregate-item ion-no-padding font-size-12"
              color="ibf-white"
              lines="full"
            >
              <ion-thumbnail
                slot="start"
                class="m-0 h-10 w-10 bg-slate-100 p-2"
              >
                <ion-img
                  class="object-contain"
                  src="assets/icons/{{ indicator.icon }}"
                ></ion-img>
              </ion-thumbnail>
              <ion-label
                class="aggregate-item-label ion-no-margin ion-text-wrap"
                [title]="indicator.label"
              >
                {{ indicator.label }}
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col
            data-testid="aggregates-affected-number"
            size-xl="4"
            size-lg="4"
            size-md="4"
            size-sm="2"
            size-xs="2"
          >
            <ion-item
              class="aggregate-item-value ion-no-padding font-size-12"
              style="--inner-padding-end: 4px"
              color="ibf-white"
            >
              @if (!isAggregateNan(indicator.name, indicator.weightedAvg)) {
                <ion-label
                  class="ion-text-right m-0"
                  data-test="aggregate-number"
                >
                  {{
                    getAggregate(
                      indicator.name,
                      indicator.weightedAvg,
                      indicator.numberFormatAggregate
                    )
                      | compact: indicator.numberFormatAggregate
                      | translate
                  }}
                  {{ indicator.aggregateUnit }}
                </ion-label>
              } @else {
                <ion-label class="ion-text-right m-0" data-test="aggregate-na">
                  {{ 'aggregates-component.default-value' | translate }}
                </ion-label>
              }
            </ion-item>
          </ion-col>
          <ion-col
            size-xl="2"
            size-lg="3"
            size-md="0"
            size-sm="1"
            size-xs="1"
            [title]="'aggregates-component.more-information' | translate"
          >
            <ion-item
              class="aggregate-item-information-icon ion-no-padding m-0 cursor-pointer"
              data-testid="aggregates-info-icon"
              color="ibf-white"
            >
              <ion-button
                class="m-auto"
                fill="clear"
                shape="round"
                size="default"
                (click)="moreInfo(indicator)"
                (keydown.enter)="moreInfo(indicator)"
              >
                <ion-icon
                  color="fiveten-navy-900"
                  icon="information-circle-outline"
                  slot="icon-only"
                ></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      }
    </div>
  </ion-grid>
</div>
