<div>
  <ion-grid class="ion-no-padding">
    <div *ngFor="let group of groups">
      <br />
      <ion-row
        *ngFor="let indicator of indicators"
        class="ion-no-padding"
        [class.ion-hide]="hiddenIndicators.includes(indicator.name)"
      >
        <ng-container *ngIf="indicator.group === group">
          <ion-col
            size-lg="8"
            size-md="8"
            size-xs="8"
            title="Click to visualize in map"
          >
            <ion-item lines="inset" class="aggregate-item ion-no-padding">
              <ion-thumbnail slot="start" class="aggregate-item-thumbnail">
                <ion-img src="assets/icons/{{ indicator.icon }}"></ion-img>
              </ion-thumbnail>
              <ion-label class="aggregate-item-label" [title]="indicator.label">
                {{ indicator.label }}
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3" size-md="3" size-xs="3">
            <ion-item class="aggregate-item-value ion-no-padding">
              <ion-label class="ion-text-right">
                <!-- <span *ngIf="indicator.numberFormat === 'dec2'">
                  {{
                    aggregatesService.getAggregate(indicator.name)
                      | number: '.2-2'
                  }}
                </span>
                <span *ngIf="indicator.numberFormat === 'dec0'"> -->
                <span>
                  {{
                    aggregatesService.getAggregate(indicator.name)
                      | number: '.0-0'
                  }}
                </span>
                <!-- <span *ngIf="indicator.numberFormat === 'perc'">
                  {{
                    aggregatesService.getAggregate(indicator.name)
                      | percent: '.0-0'
                  }}
                </span> -->
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col
            size-lg="1"
            size-md="1"
            size-xs="1"
            title="Click for more info on this indicator."
          >
            <ion-item class="aggregate-item-information-icon ion-no-padding">
              <ion-label class="ion-text-center">
                <img
                  class="info-img"
                  src="assets/icons/source-info.svg"
                  (click)="moreInfo(indicator)"
                />
              </ion-label>
            </ion-item>
          </ion-col>
        </ng-container>
      </ion-row>
    </div>
  </ion-grid>
</div>
