ion-card {
  border: 2px solid var(--ion-color-ibf-royal-blue);
  margin: 0;

  .ibf-layer-control-popover {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
  }

  ion-card-content.ion-padding-top {
    padding-top: var(--ion-padding, 16px) !important;
  }
}
