<ion-card class="popover-window-card">
  <ion-card-header color="ibf-primary">
    <ion-icon
      class="ibf-layer-control-popover-icon"
      name="close-circle"
      size="large"
      (click)="closePopover()"
      data-testid="close-matrix-icon"
      class="popover-close-button"
    ></ion-icon>
    <ion-card-title data-testid="layer-info-title">
      {{ layer.label }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content
    data-testid="layer-info-content"
    class="ion-padding-top"
    [innerHTML]="layer.description"
  ></ion-card-content>
</ion-card>
