<ion-card class="popover-window-card">
  <ion-card-header
    color="ibf-primary flex flex-row items-center justify-between py-2"
  >
    <ion-card-title data-testid="layer-info-title">
      {{ layer.label }}
    </ion-card-title>
    <div>
      @if (layer.type === ibfLayerTypePoint) {
        @if (
          userRole === UserRole.Admin ||
          userRole === UserRole.LocalAdmin ||
          userRole === UserRole.Operator
        ) {
          <ion-button
            fill="clear"
            color="ibf-white"
            (click)="upload()"
            title="Upload data"
          >
            <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
            <input
              type="file"
              class="hidden"
              (change)="onFileChange($event)"
              #uploader
            />
          </ion-button>
        }

        <ion-button
          fill="clear"
          color="ibf-white"
          (click)="download()"
          title="Download data"
        >
          <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
        </ion-button>
      }
      <ion-button
        fill="clear"
        color="ibf-white"
        (click)="closePopover()"
        data-testid="close-matrix-icon"
        title="Close"
      >
        <ion-icon slot="icon-only" size="large" name="close-circle"></ion-icon>
      </ion-button>
    </div>
  </ion-card-header>
  <ion-card-content
    data-testid="layer-info-content"
    class="ion-padding-top"
    [innerHTML]="layer.description"
  ></ion-card-content>
</ion-card>
