/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/*
 * Styling needed for dynamically created LEAFLET elements
 * --------------------------------------------------------
 */

.info {
  padding: 6px 8px;
  font: 14px/16px Montserrat, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: #555;

  i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
}

// leaflet map

.leaflet-ibf-aggregate-pane {
  z-index: 533;
}

.leaflet-ibf-admin-boundaries-pane {
  z-index: 550;
}

.leaflet-ibf-wms-pane {
  z-index: 566;
  pointer-events: none;
}

.leaflet-outline {
  z-index: 570;
}

.leaflet-popup-pane {
  pointer-events: auto;
}

.trigger-popup-no,
.trigger-popup-min,
.trigger-popup-med,
.trigger-popup-max {
  .leaflet-popup-content-wrapper {
    padding: 0;

    .leaflet-popup-content {
      margin: 0;
    }
  }
}
.trigger-popup-no {
  .leaflet-popup-tip {
    background-color: var(--ion-color-ibf-gray);
  }
}
.trigger-popup-min {
  .leaflet-popup-tip {
    background-color: var(--ion-color-ibf-yellow);
  }
}
.trigger-popup-med {
  .leaflet-popup-tip {
    background-color: var(--ion-color-ibf-orange);
  }
}
.trigger-popup-max {
  .leaflet-popup-tip {
    background-color: var(--ion-color-ibf-trigger-alert-primary);
  }
}

.waterpoint-cluster-10 {
  border-radius: 24px;
  width: 48px;
  height: 48px;
  background-color: #011d41;
  color: white;
  padding-top: 7px;
  text-align: center;
  opacity: 0.7 !important;
}

.waterpoint-cluster-100 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #011d41;
  color: white;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  opacity: 0.7 !important;
}

.waterpoint-cluster-1000 {
  border-radius: 36px;
  width: 72px;
  height: 72px;
  background-color: #011d41;
  color: white;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  opacity: 0.7 !important;
}

.waterpoint-cluster-10000 {
  border-radius: 48px;
  width: 96px;
  height: 966px;
  background-color: #011d41;
  color: white;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
  opacity: 0.7 !important;
}

.ibf-video-guide-popover {
  --width: 600px;
}

.ibf-layer-control-popover {
  --width: 400px;
}

.threshold-popup {
  font-family: 'Montserrat', sans-serif;
  .threshold-popup-title {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .threshold-popup-info-container {
    padding: 10px;

    .threshold-popup-subtitle {
      margin-bottom:10px;
    }  
    .threshold-popup-bar {
      border-radius:10px;
      height:20px;
      background-color: var(--ion-color-ibf-grey);
      width: 100%;
  
      .threshold-popup-bar-safe-side {
        border-radius:10px 0 0 10px;
        height:20px;
        background-color:#d4d3d2;
        width: 80%;
  
        .threshold-popup-bar-actual-level {
          border-radius:10px;
          height:20px;
          line-height:20px;
          text-align:center;
          white-space: nowrap;
          min-width: 15%;
        }
      }
    }
  
    .threshold-popup-name {
      height:20px;
      background-color:none;
      border-right: dashed;
      border-right-width: thin;
      float: left;
      width: 80%;
      padding-top: 5px;
      margin-bottom:10px;
    }
  
    .threshold-popup-value{
      height:20px;
      background-color:none;
      margin-left: 81%;
      text-align: left;
      width: 20%;
      padding-top: 5px;
      margin-bottom:10px;
    }
  }

  .threshold-popup-status-text {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }
}


