/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Workaround for touch-screen laptops
// See: https://github.com/ionic-team/ionic-framework/issues/19942#issuecomment-621944260
// See: https://github.com/ionic-team/ionic-framework/blob/4.11.x/core/src/components/app/app.scss
@media (any-pointer: fine) {
  html.plt-mobile ion-app {
    user-select: auto;
  }
}

.mock-scenario-alert {
  --width: 50%;
  --max-width: 500px;

  .alert-button-group {
    justify-content: space-around;
    flex-direction: row;

    .alert-button-role-cancel {
      color: var(--ion-color-ibf-grey);
    }

    .no-trigger-scenario-button {
      color: var(--ion-color-ibf-no-alert-primary);
    }

    .trigger-scenario-button {
      color: var(--ion-color-ibf-trigger-alert-primary);
    }
  }
}

/*
 * Styling needed for dynamically created LEAFLET elements
 * --------------------------------------------------------
 */

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: #555;

  i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
}

.leaflet-ibf-aggregate-pane {
  z-index: 533;
}

.leaflet-ibf-admin-boundaries-pane {
  z-index: 550;
}

.leaflet-ibf-wms-pane {
  z-index: 566;
  pointer-events: none;
}

.leaflet-outline {
  z-index: 570;
}

.leaflet-popup-pane {
  pointer-events: auto;
}

.trigger-popup-no,
.trigger-popup-min,
.trigger-popup-med,
.trigger-popup-max,
.typhoon-track-popup {
  .leaflet-popup-content-wrapper {
    padding: 0;

    .leaflet-popup-content {
      margin: 0;
    }
  }
}
.trigger-popup-no {
  .leaflet-popup-tip {
    background-color: var(--ion-color-ibf-no-alert-primary);
  }
}
.trigger-popup-min {
  .leaflet-popup-tip {
    background-color: var(--ion-color-ibf-yellow);
  }
}
.trigger-popup-med {
  .leaflet-popup-tip {
    background-color: var(--ion-color-ibf-orange);
  }
}
.trigger-popup-max {
  .leaflet-popup-tip {
    background-color: var(--ion-color-ibf-trigger-alert-primary);
  }
}

.typhoon-track-popup {
  a {
    &.leaflet-popup-close-button {
      color: var(--ion-color-ibf-white);
      font-size: 20px;
      padding-top: 11px;
      margin-right: 7px;
    }
  }

  .leaflet-popup-tip {
    background-color: var(--ion-color-ibf-primary);
  }
}

.waterpoint-cluster-10 {
  border-radius: 24px;
  width: 48px;
  height: 48px;
  background-color: var(--ion-color-ibf-no-alert-primary);
  color: white;
  padding-top: 7px;
  text-align: center;
  opacity: 0.7 !important;
}

.waterpoint-cluster-100 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: var(--ion-color-ibf-no-alert-primary);
  color: white;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  opacity: 0.7 !important;
}

.waterpoint-cluster-1000 {
  border-radius: 36px;
  width: 72px;
  height: 72px;
  background-color: var(--ion-color-ibf-no-alert-primary);
  color: white;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  opacity: 0.7 !important;
}

.waterpoint-cluster-10000 {
  border-radius: 48px;
  width: 96px;
  height: 966px;
  background-color: var(--ion-color-ibf-no-alert-primary);
  color: white;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
  opacity: 0.7 !important;
}

.typhoon-track-icon {
  border-width: 1px;
  border-radius: 50%;
  border-color: var(--ion-color-ibf-primary);
}

.typhoon-track-icon-future {
  border-style: dashed;
  background: rgba(var(--ion-color-ibf-white-rgb), 0.8);
}

.typhoon-track-icon-firstLandfall {
  outline: 3px solid var(--ion-color-ibf-primary) !important;
  outline-offset: 3px;
}

.typhoon-track-icon-past {
  border-style: solid;
  background: var(--ion-color-ibf-primary);
}

.typhoon-track-icon-latest {
  background: var(--ion-color-ibf-primary)
    url('/assets/icons/TyphoonHurricaneCyclone_Track.svg') center no-repeat;
}

.ibf-popover {
  &.ibf-popover-normal {
    --width: 400px;
  }

  &.ibf-popover-large {
    --width: 600px;
  }

  .popover-window-card {
    border: 2px solid var(--ion-color-ibf-primary);
    margin: 0;

    .popover-close-button {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 1;
    }

    ion-card-content.ion-padding-top {
      padding-top: var(--ion-padding, 16px) !important;
    }
  }
}

// https://stackoverflow.com/a/68240841/1753041
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
