.breadcrumbs-container {
  margin-top: 20px;
}

.breadcrumb {
  height: 24px;
  font-size: 12px;

  margin: 0;
  --box-shadow: none;

  --background: var(--ion-color-ibf-white);
  --border-color: var(--ion-color-ibf-no-alert-primary);
  --border-width: 2px;
  --border-style: solid;
  --color: var(--ion-color-ibf-no-alert-primary);

  &.selected {
    --background: var(--ion-color-ibf-no-alert-primary);

    --color: var(--ion-color-ibf-white);
  }
}

.breadcrumb-start {
  --border-radius: 50vh 0 0 50vh;
}

.breadcrumb-middle {
  --border-radius: 0;
  // --border-width: 2px 0px;
}

.breadcrumb-end {
  --border-radius: 0 50vh 50vh 0;
}

.breadcrumb-alone {
  --border-radius: 50vh;
}
