<ng-container
  *ngIf="
    useBreadcrumbs(country | async, disasterType | async);
    then breadcrumbs;
    else tabs
  "
></ng-container>
<ng-template #breadcrumbs>
  <div class="ion-padding-top ion-margin-start">
    <ion-button
      class="breadcrumb"
      [ngClass]="
        currentMapView === mapViewEnum.national
          ? 'breadcrumb-alone'
          : 'breadcrumb-start'
      "
      [class.selected]="currentMapView === mapViewEnum.national"
      (click)="
        clickBreadcrumbButton(
          mapViewEnum.national,
          currentMapView === mapViewEnum.national
        )
      "
    >
      {{ 'breadcrumbs.national-view' | translate }}
    </ion-button>
    <ion-button
      *ngIf="currentMapView !== mapViewEnum.national"
      class="breadcrumb"
      [ngClass]="
        currentMapView === mapViewEnum.event
          ? 'breadcrumb-end'
          : 'breadcrumb-middle'
      "
      [class.selected]="currentMapView === mapViewEnum.event"
      (click)="
        clickBreadcrumbButton(
          mapViewEnum.event,
          currentMapView === mapViewEnum.event
        )
      "
    >
      {{ (eventState | async).event?.eventName }}
    </ion-button>
    <ion-button
      *ngIf="currentMapView === mapViewEnum.adminArea"
      class="breadcrumb breadcrumb-end"
      [class.selected]="currentMapView === mapViewEnum.adminArea"
      (click)="
        clickBreadcrumbButton(
          mapViewEnum.adminArea,
          currentMapView === mapViewEnum.adminArea
        )
      "
    >
      {{ (placeCode | async).placeCodeName }}
    </ion-button>
  </div>
</ng-template>
<ng-template #tabs>
  <div class="ion-margin-top ion-margin-start">
    <ion-button
      *ngFor="let button of adminLevelButtons | async"
      size="small"
      fill="solid"
      class="breadcrumb"
      [ngClass]="button.buttonTypeClass"
      [class.selected]="isAdminLevelActive(button.adminLevel, button.disabled)"
      [disabled]="button.disabled"
      (click)="clickAdminLevelButton(button.adminLevel)"
    >
      {{ button.label }}
    </ion-button>
  </div>
</ng-template>
