<div class="ion-padding-top ibf-admin-level-buttons">
  <ion-button
    *ngIf="getAdminLevelLabel(adminLevel.adm1)"
    size="small"
    class="ibf-admin-level-button"
    fill="solid"
    [color]="
      getSelectedAdminLevel() !== adminLevel.adm1
        ? 'ibf-dark-blue'
        : adminLevelService.adminLayerState
        ? 'ibf-royal-blue'
        : 'ibf-black'
    "
    [disabled]="getSelectedAdminLevel() !== adminLevel.adm1"
    (click)="
      setAdminLevelClick(adminLevel.adm1, !adminLevelService.adminLayerState)
    "
  >
    {{ getAdminLevelLabel(adminLevel.adm1) }}
  </ion-button>
  <ion-button
    *ngIf="getAdminLevelLabel(adminLevel.adm2)"
    size="small"
    class="ibf-admin-level-button"
    fill="solid"
    [color]="
      getSelectedAdminLevel() !== adminLevel.adm2
        ? 'ibf-dark-blue'
        : adminLevelService.adminLayerState
        ? 'ibf-royal-blue'
        : 'ibf-black'
    "
    [disabled]="getSelectedAdminLevel() !== adminLevel.adm2"
    (click)="
      setAdminLevelClick(adminLevel.adm2, !adminLevelService.adminLayerState)
    "
  >
    {{ getAdminLevelLabel(adminLevel.adm2) }}
  </ion-button>
  <ion-button
    *ngIf="getAdminLevelLabel(adminLevel.adm3)"
    size="small"
    class="ibf-admin-level-button"
    fill="solid"
    [color]="
      getSelectedAdminLevel() !== adminLevel.adm3
        ? 'ibf-dark-blue'
        : adminLevelService.adminLayerState
        ? 'ibf-royal-blue'
        : 'ibf-black'
    "
    [disabled]="getSelectedAdminLevel() !== adminLevel.adm3"
    (click)="
      setAdminLevelClick(adminLevel.adm3, !adminLevelService.adminLayerState)
    "
  >
    {{ getAdminLevelLabel(adminLevel.adm3) }}
  </ion-button>
  <ion-button
    *ngIf="getAdminLevelLabel(adminLevel.adm4)"
    size="small"
    class="ibf-admin-level-button"
    fill="solid"
    [color]="
      getSelectedAdminLevel() !== adminLevel.adm4
        ? 'ibf-dark-blue'
        : adminLevelService.adminLayerState
        ? 'ibf-royal-blue'
        : 'ibf-black'
    "
    [disabled]="getSelectedAdminLevel() !== adminLevel.adm4"
    (click)="
      setAdminLevelClick(adminLevel.adm4, !adminLevelService.adminLayerState)
    "
  >
    {{ getAdminLevelLabel(adminLevel.adm4) }}
  </ion-button>
</div>
