p {
  font-size: 12px;
}

.active {
  background-color: var(--ion-color-ibf-chat-self);
}
.containerDiv {
  line-height: 1px;
  margin: 0px 2px 0px 2px;
  display: block;
  text-align: center;
  padding: 0.7em 1.4em;
}


.selected {
  font-weight: 700;
}