<div *ngIf="multipleActiveEvents()" class="containerDiv">
  <div *ngFor="let event of eventService.state.events">
    <div *ngIf="event.eventName === selectedEventName">
      <ion-button
        shape="block"
        class="ibf"
        class="button-label"
        slot="start"
        color="ibf-secondary"
        size="small"
        (click)="switchEvent(event)"
      >
        {{ event.eventName }}
      </ion-button>
    </div>

    <div *ngIf="event.eventName !== selectedEventName">
      <ion-button
        class="ibf"
        shape="block"
        slot="start"
        color="ibf-white"
        size="small"
        (click)="switchEvent(event)"
      >
        {{ event.eventName }}
      </ion-button>
    </div>
  </div>
</div>
