<div
  data-test="chat"
  class="dialogue-turn ion-align-items-start"
  [ngClass]="{
    'is-pending': animate && !isSpoken,
    'is-spoken': animate && isSpoken,
    'is-warn': isWarn,
    'is-stopped': isStopped,
    'is-triggered': isTriggered,
    'is-not-triggered': isNotTriggered,
    'is-selected': isSelected,
    'is-opening-bubble': isOpeningBubble
  }"
>
  <div class="dialogue-turn--content">
    <ion-card [style.border]="isSelected ? '0.125rem solid ' + borderColor : null">
      <ion-card-content>
        <ng-content></ng-content>
        <small><app-timestamp [timestamp]="timestamp"></app-timestamp></small>
      </ion-card-content>
    </ion-card>
    <span class="dialogue-turn--speech-arrow"></span>
  </div>
</div>
