<ng-template #contentTemplate><ng-content></ng-content></ng-template>

<div
  data-test="chat"
  class="dialogue-turn ion-align-items-start"
  [ngClass]="{
    'is-pending': animate && !isSpoken,
    'is-spoken': animate && isSpoken,
    'is-warn': isWarn,
    'is-stopped': isStopped,
    'is-triggered': isTriggered,
    'is-not-triggered': isNotTriggered,
    'is-selected': isSelected,
    'is-opening-bubble': isOpeningBubble
  }"
>
  <div class="dialogue-turn--content">
    <ion-card
      *ngIf="isSelected"
      [style.border-color]="borderColor"
      (mouseout)="onMouseOut()"
    >
      <ion-card-content>
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        <small><app-timestamp [timestamp]="timestamp"></app-timestamp></small>
      </ion-card-content>
    </ion-card>
    <ion-card
      *ngIf="!isSelected"
      (mouseover)="onMouseOver()"
      (mouseout)="onMouseOut()"
      [style.border-color]="
        mouseOver ? borderColor : 'var(--ion-color-fiveten-neutral-100)'
      "
    >
      <ion-card-content>
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        <small><app-timestamp [timestamp]="timestamp"></app-timestamp></small>
      </ion-card-content>
    </ion-card>
    <span class="dialogue-turn--speech-arrow"></span>
  </div>
</div>
