.dialogue-turn {
  display: flex;

  ion-card {
    box-shadow: none;
    background-color: var(--ion-color-fiveten-neutral-100);
    color: var(--ion-color-ibf-black);
  }
}

.dialogue-turn--content {
  position: relative;
  order: 2;
  transform-origin: top left;

  width: 100%;

  ion-card-content {
    -webkit-inline-start: 8px !important;
    padding-inline-start: 8px !important;
    -webkit-inline-end: 8px !important;
    padding-inline-end: 8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}
.dialogue-turn.is-warn {
  .dialogue-turn--content {
    ion-card-content {
      color: var(--ion-color-danger);

      app-timestamp {
        color: var(--ion-color-ibf-primary);
      }
    }
  }
}

.dialogue-turn.is-pending {
  opacity: 0;

  .dialogue-turn--content {
    opacity: 0;
    transform: scale(0.2);
  }
}

.dialogue-turn.is-stopped {
  .dialogue-turn--content {
    ion-card {
      border: var(--ion-color-ibf-black) solid 2px;
    }
  }
}

.dialogue-turn.is-spoken {
  .dialogue-turn--content {
    animation-name: speak;
    animation-duration: 0.3s;
    animation-direction: forwards;
    animation-iteration-count: 1;
  }
}

@keyframes speak {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  95% {
    transform: scale(1.06);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
