<div
  data-test="chat"
  class="dialogue-turn ion-align-items-start"
  [ngClass]="{
    'is-connected': isConnected,
    'is-other ion-justify-content-start': !isSelf,
    'is-self ion-justify-content-end': isSelf,
    'is-pending': animate && !isSpoken,
    'is-spoken': animate && isSpoken
  }"
>
  <div class="dialogue-turn--actor">
    <ng-container [ngSwitch]="actor">
      <ng-container *ngSwitchCase="allActors.system">
        <ion-avatar class="system-avatar" color="ibf-primary">
          <b>IBF</b>
        </ion-avatar>
      </ng-container>
      <ng-container *ngSwitchCase="allActors.self">
        <ion-avatar class="self-avatar" color="ibf-secondary">
          <ion-icon name="person" size="large"></ion-icon>
        </ion-avatar>
      </ng-container>
    </ng-container>
  </div>
  <div class="dialogue-turn--content">
    <ion-card
      [color]="
        isSelf
          ? 'ibf-chat-self'
          : isWarn
          ? 'danger'
          : 'ibf-chat-not-self'
      "
    >
      <ion-card-content>
        <ng-content></ng-content>
        <small><app-timestamp [timestamp]="timestamp"></app-timestamp></small>
      </ion-card-content>
    </ion-card>
  </div>
</div>
