ion-content {
  p,
  ion-label,
  ion-note {
    font-size: 12px;
  }

  ion-list {
    background: var(--ion-color-ibf-chat-self);

    ion-item {
      --background: var(--ion-color-ibf-chat-self);
      border-bottom: 1px solid var(--ion-color-ibf-primary);
  
      ion-checkbox {
        --background: var(--ion-color-ibf-chat-self);
      }
  
      ion-label {
        border: none;
  
        .action-aoflabel {
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }

  .chat-icon {
    width: 1.5rem;
    padding: 1px;
  }

  .submit-button {
    flex-basis: 100%;
  }
}

.action-label {
  font-size: small;
}

ion-checkbox {
  margin-inline-end: 8px !important;
}

ion-button {
  --border-radius: 0;
} 