<ion-content scrollY="true">
  <app-dialogue-turn [isWarn]="isWarn">
    <p
      [innerHTML]="
        'chat-component.' + disasterTypeName + '.warn-label.message'
          | translate
            : {
                lastModelRunDate: lastModelRunDate,
                name: authService.displayName
              }
      "
    ></p>
    <app-about-btn
      [btnLabel]="
        'chat-component.' + disasterTypeName + '.about-button-label' | translate
      "
      color="ibf-white"
    ></app-about-btn>
    <app-video-guide-button color="ibf-white"></app-video-guide-button>
    <app-activation-log-button></app-activation-log-button>
    <app-export-view class="ion-align-items-center"></app-export-view>
  </app-dialogue-turn>

  <!-- No event -->
  <app-dialogue-turn
    *ngIf="!eventState?.activeEvent && !eventState?.activeTrigger"
    isConnected="true"
  >
    <p
      [innerHTML]="
        'chat-component.' + disasterTypeName + '.no-event-no-trigger.welcome'
          | translate
            : {
                name: authService.displayName
              }
      "
    ></p>
  </app-dialogue-turn>
  <!-- Active event -->
  <app-dialogue-turn
    *ngIf="eventState?.activeEvent && eventState?.activeTrigger"
    isConnected="true"
  >
    <ng-container *ngFor="let event of eventState?.events">
      <p
        *ngIf="event.activeTrigger"
        [innerHTML]="
          'chat-component.' +
            disasterTypeName +
            '.active-event-active-trigger.welcome'
            | translate
              : {
                  name: authService.displayName,
                  startDate: event.startDate,
                  leadTime: event.firstLeadTimeLabel,
                  timeUnit: event.timeUnit,
                  disasterTypeLabel: disasterTypeLabel,
                  firstLeadTimeDate: event.firstLeadTimeDate,
                  eventName: event.eventName
                }
        "
      ></p>
    </ng-container>

    <app-event-switcher></app-event-switcher>
  </app-dialogue-turn>
  <!-- Old event -->
  <app-dialogue-turn *ngIf="eventService.isOldEvent()" isConnected="true">
    <p
      [innerHTML]="
        'chat-component.' +
          disasterTypeName +
          '.active-event-no-trigger.welcome'
          | translate
            : {
                name: authService.displayName,
                startDate: eventState?.event.startDate,
                endDate: eventState?.event.endDate,
                eventName: eventState?.event.eventName
              }
      "
    ></p>
  </app-dialogue-turn>

  <ng-container *ngIf="eventState?.activeEvent">
    <app-dialogue-turn
      *ngIf="
        activeAreas.length &&
        filteredStoppedAreas.length === 0 &&
        filteredActiveAreas.length === 0
      "
      isConnected="true"
    >
      <p
        [translate]="
          'chat-component.' + disasterTypeName + '.active-event.overview'
            | translate
              : {
                  nrTriggeredAreas: activeAreas.length,
                  adminAreaLabelPlural: adminAreaLabelPlural,
                  actionIndicator: actionIndicatorLabel
                }
        "
      ></p>
      <ul>
        <li *ngFor="let area of activeAreas">
          <p>{{ area.name }} ({{ area.actionsValue | number: '.0-0' }})</p>
        </li>
      </ul>
      <p
        [translate]="
          'chat-component.' + disasterTypeName + '.active-event.instruction'
            | translate
        "
      ></p>
    </app-dialogue-turn>
    <app-dialogue-turn
      *ngIf="
        stoppedAreas.length &&
        filteredStoppedAreas.length === 0 &&
        filteredActiveAreas.length === 0
      "
      isConnected="true"
      [isStopped]="true"
    >
      <p
        [translate]="
          'chat-component.' + disasterTypeName + '.stopped-event.overview'
            | translate
              : {
                  nrStoppedAreas: stoppedAreas.length,
                  adminAreaLabelPlural: adminAreaLabelPlural,
                  actionIndicator: actionIndicatorLabel
                }
        "
      ></p>
      <ul>
        <li *ngFor="let area of stoppedAreas">
          <p>{{ area.name }} ({{ area.actionsValue | number: '.0-0' }})</p>
        </li>
      </ul>
      <p
        [translate]="
          'chat-component.' + disasterTypeName + '.stopped-event.instruction'
            | translate
        "
      ></p>
    </app-dialogue-turn>
    <app-dialogue-turn
      *ngFor="let area of filteredStoppedAreas; first as isFirst"
      [isConnected]="true"
      [isStopped]="true"
    >
      <p
        [innerHTML]="
          'chat-component.' + disasterTypeName + '.stopped-event.area'
            | translate
              : {
                  placeCodeName: area.name,
                  startDate: area.startDate,
                  stoppedDate: area.stoppedDate,
                  displayName: area.displayName || 'unknown'
                }
        "
      ></p>
    </app-dialogue-turn>
    <app-dialogue-turn
      actor="self"
      *ngFor="let area of filteredActiveAreas; first as isFirst"
      [isConnected]="!isFirst"
    >
      <form (submit)="submitEapAction(area.placeCode)">
        <ion-row>
          <ion-col size-lg="2" size-md="2" size-xs="2">
            <ion-img
              src="assets/icons/Alert_Chat_Black.svg"
              class="chat-icon"
            ></ion-img>
          </ion-col>
          <ion-col size-lg="10" size-md="10" size-xs="10">
            <ion-label
              [innerHTML]="
                'chat-component.' +
                  disasterTypeName +
                  '.active-event.place-name'
                  | translate
                    : { adminAreaLabel: adminAreaLabel, placeName: area.name }
              "
            ></ion-label
            ><br />
            <ion-note
              size="small"
              [innerHTML]="
                'chat-component.' + disasterTypeName + '.active-event.exposed'
                  | translate
                    : {
                        exposedNumber: area['actionsValue'] | number: '.0-0'
                      }
              "
            >
            </ion-note>
          </ion-col>
        </ion-row>
        <ion-list class="background-light">
          <ion-item
            *ngFor="let action of area.eapActions"
            class="ion-no-padding"
          >
            <ion-checkbox
              mode="ios"
              slot="start"
              color="ibf-primary"
              [checked]="action.checked"
              name="action.action"
              (ionChange)="
                changeAction(
                  area.placeCode,
                  action.action,
                  $event.detail.checked
                )
              "
            ></ion-checkbox>
            <ion-label class="action-label ion-text-wrap"
              ><strong>{{ action.aofLabel }}</strong
              >: {{ action.label }}
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-row class="ion-nowrap ion-align-items-center ion-margin-top">
          <ion-button
            [disabled]="area.submitDisabled"
            color="ibf-primary"
            type="submit"
            expand="block"
            class="submit-button"
            [innerHTML]="
              'chat-component.' +
                disasterTypeName +
                '.active-event.submit-button-label' | translate
            "
          ></ion-button>
        </ion-row>
      </form>
      <ion-button
        (click)="openStopTriggerPopup(area)"
        [disabled]="!area.activeTrigger"
        color="ibf-primary"
        expand="block"
        [innerHTML]="
          'chat-component.' +
            disasterTypeName +
            '.active-event.stop-trigger-button' | translate
        "
      ></ion-button>
    </app-dialogue-turn>
  </ng-container>
</ion-content>
