<ion-content scrollY="true">
  <!-- No event -->
  <app-disaster-type></app-disaster-type>
  <app-dialogue-turn
    isWarn="true"
    isConnected="false"
  >
    <p 
        [innerHTML]="
        'chat-component.' + disasterCategory + 'warn-label.message'
          | translate
            : {
                leadTime: eventService.state.firstLeadTimeLabel
              }
      "
    ></p> 
  </app-dialogue-turn>
  <app-dialogue-turn
    *ngIf="!eventService.state.activeEvent && !eventService.state.activeTrigger"
  >
    <p
      [innerHTML]="
        'chat-component.' + disasterCategory + 'no-event-no-trigger.welcome'
          | translate
            : {
                name: authService.displayName
              }
      "
    ></p>
    <app-about-btn
      [btnLabel]="'chat-component.about-button-label' | translate"
      color="ibf-white"
    ></app-about-btn>
    <app-video-guide-button color="ibf-white"></app-video-guide-button>
  </app-dialogue-turn>
  <!-- Active event -->
  <app-dialogue-turn
    *ngIf="eventService.state.activeEvent && eventService.state.activeTrigger"
  >
    <p
      [innerHTML]="
        'chat-component.' +
          disasterCategory +
          'active-event-active-trigger.welcome'
          | translate
            : {
                name: authService.displayName,
                startDate: eventService.state.event.startDate,
                leadTime: eventService.state.firstLeadTimeLabel,
                timeUnit: eventService.state.timeUnit,
                disasterTypeLabel: disasterTypeLabel,
                monthYear: eventService.state.firstLeadTimeName
              }
      "
    ></p>
    <app-about-btn
      [btnLabel]="
        'chat-component.' + disasterCategory + 'about-button-label' | translate
      "
      color="ibf-white"
    ></app-about-btn>
    <app-video-guide-button color="ibf-white"></app-video-guide-button>
  </app-dialogue-turn>
  <!-- Old event -->
  <app-dialogue-turn *ngIf="eventService.isOldEvent()">
    <p
      [innerHTML]="
        'chat-component.' + disasterCategory + 'active-event-no-trigger.welcome'
          | translate
            : {
                name: authService.displayName,
                startDate: eventService.state.event.startDate,
                endDate: eventService.state.event.endDate
              }
      "
    ></p>
    <app-about-btn
      [btnLabel]="
        'chat-component.' + disasterCategory + 'about-button-label' | translate
      "
      color="ibf-white"
    ></app-about-btn>
    <app-video-guide-button color="ibf-white"></app-video-guide-button>
  </app-dialogue-turn>
  <ng-container *ngIf="eventService.state.activeEvent">
    <app-dialogue-turn isConnected="true">
      <p
        [translate]="
          'chat-component.' + disasterCategory + 'active-event.instruction'
            | translate
        "
      ></p>
    </app-dialogue-turn>
    <app-dialogue-turn
      actor="self"
      *ngFor="let area of filteredAreas; first as isFirst"
      [isConnected]="!isFirst"
    >
      <form (submit)="submitEapAction(area.placeCode)">
        <ion-row>
          <ion-col size-lg="2" size-md="2" size-xs="2">
            <ion-img
              src="assets/icons/alert-black.svg"
              class="chat-icon"
            ></ion-img>
          </ion-col>
          <ion-col size-lg="10" size-md="10" size-xs="10">
            <ion-label
              [innerHTML]="
                'chat-component.active-event.place-name'
                  | translate
                    : { adminAreaLabel: adminAreaLabel, placeName: area.name }
              "
            ></ion-label
            ><br />
            <ion-note
              size="small"
              [innerHTML]="
                'chat-component.' + disasterCategory + 'active-event.exposed'
                  | translate
                    : {
                        exposedNumber: area['actionsValue'] | number: '.0-0'
                      }
              "
            >
            </ion-note>
          </ion-col>
        </ion-row>
        <ion-list class="background-light">
          <ion-item
            *ngFor="let action of area.eapActions"
            class="ion-no-padding"
          >
            <ion-checkbox
              mode="ios"
              slot="start"
              color="ibf-primary"
              [checked]="action.checked"
              name="action.action"
              (ionChange)="
                changeAction(
                  area.placeCode,
                  action.action,
                  $event.detail.checked
                )
              "
            ></ion-checkbox>
            <ion-label class="action-label ion-text-wrap"
              ><strong>{{ action.aofLabel }}</strong
              >: {{ action.label }}
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-row class="ion-nowrap ion-align-items-center ion-margin-top">
          <ion-button
            [disabled]="area.submitDisabled"
            color="ibf-primary"
            type="submit"
            expand="block"
            class="submit-button"
            [translate]="'chat-component.active-event.submit-button-label'"
          ></ion-button>
        </ion-row>
      </form>
      <ion-button
        (click)="closePlaceCodeEventPopup(area)"
        [disabled]="area.activeTrigger"
        color="ibf-primary"
        expand="block"
        [translate]="'chat-component.active-event.close-event-button'"
      ></ion-button>
    </app-dialogue-turn>
  </ng-container>
</ion-content>
