<div class="containerDiv">
  <div
    *ngFor="let disasterType of disasterTypes"
    (click)="switchDisasterType(disasterType)"
    data-test="disaster-type-button"
    [ngClass]="{ active: disasterType.disasterType === selectedDisasterType }"
    class="containerOne"
  >
    <div
      *ngIf="disasterType.disasterType === selectedDisasterType"
      [attr.data-test]="'selected-disaster-' + disasterType.disasterType"
    >
      <ion-icon
        class="ibf"
        [src]="
          disasterType.activeTrigger
            ? disasterTypeMap[disasterType.disasterType].selectedTriggered
            : disasterTypeMap[disasterType.disasterType].selectedNonTriggered
        "
        slot="start"
        class="containerTwo"
        data-test="selected-disaster"
        [class.triggered]="disasterType.activeTrigger"
      >
      </ion-icon>
    </div>

    <div *ngIf="disasterType.disasterType !== selectedDisasterType">
      <ion-icon
        class="ibf"
        [src]="
          disasterType.activeTrigger
            ? disasterTypeMap[disasterType.disasterType].nonSelectedTriggered
            : disasterTypeMap[disasterType.disasterType].nonSelectedNonTriggered
        "
        slot="start"
        class="containerTwo"
      >
      </ion-icon>
    </div>
  </div>
</div>
