ion-row,
ion-spinner {
  background-color: #fff;
}

ion-icon {
  cursor: pointer;
}

ion-spinner {
  cursor: default;
}

.disaster-type-button {
  display: block;
  margin: 0px 2px 0px 2px;
  height: 32px;
  width: 32px;
}
