<div class="containerDiv">
  <div
    *ngFor="let disasterType of disasterTypes"
    (click)="switchDisasterType(disasterType)"
    [ngClass]="{ active: disasterType.disasterType === selectedDisasterType }"
    class="containerOne"
  >


    <div *ngIf= "disasterType.disasterType === selectedDisasterType">
      <ion-icon
        class="ibf"
        [src]="disasterType.activeTrigger ?
          disasterTypeMap[disasterType.disasterType].selectedTriggered :
          disasterTypeMap[disasterType.disasterType].selectedNonTriggered"
        slot="start"
        class="containerTwo"
      >
      </ion-icon>
    </div>

    <div *ngIf= "disasterType.disasterType !== selectedDisasterType">
      <ion-icon
        class="ibf"
        [src]="disasterType.activeTrigger ?
          disasterTypeMap[disasterType.disasterType].nonSelectedTriggered :
          disasterTypeMap[disasterType.disasterType].nonSelectedNonTriggered"
        slot="start"
        class="containerTwo"
      >
      </ion-icon>
    </div>
    <ion-label
      class="containerThree"
      *ngIf="disasterType.disasterType === selectedDisasterType"
      >{{ disasterType.label }}</ion-label
    >
  </div>
</div>
