ion-row,
.disaster-type-button-container,
ion-spinner {
  background-color: #fff;
}

ion-icon {
  cursor: pointer;
}

ion-spinner {
  cursor: default;
}

.active {
  background-color: var(--ion-color-ibf-chat-self);
}

.containerDiv {
  line-height: 1px;
  margin: 0px 2px 0px 2px;
  display: flex;
}

.disaster-type-button {
  display: block;
  margin: 0px 2px 0px 2px;
  height: 32px;
  width: 32px;
}
