<ion-row>
  @for (disasterType of disasterTypes; track disasterType.label) {
    <div>
      <ion-icon
        (click)="switchDisasterType(disasterType)"
        class="disaster-type-button"
        [ngClass]="disasterType?.alertLevel ? 'triggered' : ''"
        [attr.data-testid]="'disaster-type-button-' + disasterType.disasterType"
        [src]="getButtonSvg(disasterType.disasterType, disasterType.alertLevel)"
        slot="start"
        [attr.data-test-selected]="
          isSelectedDisaster(disasterType.disasterType)
            ? 'selected-disaster'
            : ''
        "
      >
      </ion-icon>
    </div>
  }
</ion-row>
