<ion-card class="popover-window-card">
  <ion-card-header color="ibf-primary">
    <ion-icon
      name="close-circle"
      size="large"
      (click)="closePopover()"
      class="popover-close-button"
    ></ion-icon>
    <ion-card-title>{{
      'chat-component.common.set-trigger.popover-confirm.header' | translate
    }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding-top ion-text-center">
    <ion-item
      lines="none"
      class="ion-margin-bottom"
      [innerHTML]="
        'chat-component.common.set-trigger.popover-confirm.content'
          | translate
            : {
                adminAreaLabelPlural: adminAreaLabelPlural,
              }
      "
    >
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <ion-checkbox
        slot="start"
        color="ibf-primary"
        [(ngModel)]="understood"
        name="understood"
      ></ion-checkbox>
      <ion-label class="ion-text-wrap"
        >{{
          'chat-component.common.set-trigger.popover-confirm.understand'
            | translate
        }}
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="width: 100%">
      <div style="width: 100%" class="ion-text-end">
        <ion-button
          fill="clear"
          shape="round"
          color="ibf-trigger-alert-primary"
          (click)="closePopover()"
        >
          {{
            'chat-component.common.set-trigger.popover-confirm.back' | translate
          }}
        </ion-button>
        <ion-button
          fill="solid"
          shape="round"
          color="ibf-trigger-alert-primary"
          [disabled]="!understood"
          (click)="submitSetTriggerAreas()"
          >{{
            'chat-component.common.set-trigger.popover-confirm.continue'
              | translate
          }}</ion-button
        >
      </div>
    </ion-item>
  </ion-card-content>
</ion-card>
