name: 'Bump version and push tag on merge to master'

on:
  push:
    branches: [master]

jobs:
  bump-version:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      actions: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}

      - name: Wait for previous workflow to complete
        uses: softprops/turnstyle@v3
        with:
          abort-after-seconds: 1800
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Bump version and push tag
        uses: TriPSs/conventional-changelog-action@v6
        with:
          github-token: ''
          git-message: 'chore(release): {version}'
          release-count: 10
