.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
  // justify-content: center;
}

.chat-title {
  background-color: var(--ion-color-ibf-salmon);
  padding: 5px;
}

.background-light {
  background-color: var(--ion-color-light);
}
