<ion-content scrollY="true" style="--background: none;">
  <!-- <dialogue-turn>
  <p>
    URCS will activate this EAP when GloFAS issues a forecast of at least
    <b>60% probability</b> (based on the different ensemble runs)
    <b>of a 5-year return period</b> flood occurring in flood prone districts,
    which will be anticipated to affect <b>more than 1,000hh</b>. The EAP will
    be triggered with a <b>lead time of 7 days</b> and a FAR of
    <b>not more than 0.5.</b>
  </p>
  <app-about-btn 
    btnLabel="About Trigger" 
    color="primary"
  ></app-about-btn>
</dialogue-turn> -->
  <dialogue-turn *ngIf="!trigger">
    <p>
      Hello Aid worker HQ. To your right is the map of your country. You can
      turn other layers on and off. There are currently
      <strong>no triggers</strong> activated.
    </p>
    <app-about-btn
      btnLabel="About Trigger"
      color="ibf-royal-blue"
    ></app-about-btn>
  </dialogue-turn>
  <dialogue-turn *ngIf="trigger">
    <p>
      Hello Aid worker HQ. A trigger warning for
      <strong>{{ leadTime }}</strong> has been activated for floods for the
      following areas. They are listed in order of number people potentially
      affected per area. You can keep track here per area which EAP-actions are
      to-do/done.
    </p>
    <app-about-btn
      btnLabel="About Trigger"
      color="ibf-royal-blue"
    ></app-about-btn>
  </dialogue-turn>
  <dialogue-turn actor="self" *ngFor="let area of triggeredAreas">
    <form (submit)="submitEapAction(area.pcode)">
      <ion-row>
        <ion-col size-lg="2" size-md="2" size-xs="2">
          <ion-img
            src="assets/icons/alert-black.svg"
            style="width: 1.5rem; padding: 1px;"
          ></ion-img>
        </ion-col>
        <ion-col size-lg="10" size-md="10" size-xs="10">
          <ion-label
            >District: <strong>{{ area.name }}</strong></ion-label
          ><br />
          <ion-note size="small"
            >Exposed population:
            <strong>{{ area.population_affected | number: '.0-0' }}</strong>
          </ion-note>
        </ion-col>
      </ion-row>
      <ion-list class="background-light">
        <ion-item
          *ngFor="let action of area.eapActions"
          style="--background: none;"
          class="ion-no-padding"
        >
          <ion-checkbox
            mode="ios"
            slot="start"
            color="ibf-royal-blue"
            [checked]="action.checked"
            name="action.action"
            (ionChange)="
              changeAction(area.pcode, action.action, $event.detail.checked)
            "
          ></ion-checkbox>
          <ion-label>{{ action.aofLabel }}: {{ action.label }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-row class="ion-nowrap ion-align-items-center ion-margin-top">
        <ion-button
          [disabled]="area.submitDisabled"
          color="ibf-royal-blue"
          type="submit"
          expand="block"
          style="flex-basis: 100%;"
          >Submit</ion-button
        >
      </ion-row>
    </form>
  </dialogue-turn>
</ion-content>
